.toc-component ol {
  list-style: none;
  padding-left: 0;
}

.toc-component > ol > li {
  margin-bottom: .5rem;
}

a.toc-link {
  color: var(--bs-gray);
}

a.toc-link.active {
  font-weight: bolder;
  color: var(--bs-primary);
}

.toc-link.active + ol {
  display: block !important;
}

.toc-component ol ol {
  margin-left: 1rem;
}

.toc-component ol ol li {
  padding-left: 1rem;
}

.toc-component ol ol li::before {
  content: "-";
  color: var(--bs-gray);
  position: absolute;
  margin-left: -1rem;
}