<div class="pagehead">
  <div class="top">
    <h1>分類：<span class="seal"><%= page.category %></span></h1>
    <span class="sub"><%= page.posts.length %> 篇</span>
  </div>
  <div class="rule-d"></div>
</div>
<%- partial('common/feed', { showNum: false }) %>
