<div class="pagehead">
  <div class="top">
    <h1>最新<span class="seal">紀錄</span></h1>
    <span class="sub">共 <%= site.posts.length %> 篇 · 第 <%= page.current %> / <%= page.total %> 卷</span>
  </div>
  <div class="rule-d"></div>
</div>
<%- partial('common/feed', { showNum: true }) %>
