<div class="pagehead">
  <div class="top">
    <h1>所有<span class="seal">標籤</span></h1>
    <span class="sub"><%= site.tags.length %> 個標籤</span>
  </div>
  <div class="rule-d"></div>
</div>
<div class="tags tags-cloud">
  <%- list_tags({ orderby: 'length', order: -1, show_count: true, style: false, separator: '' }) %>
</div>
