.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
themes/hueman
themes/next
yarn.lock


themes/bootstrap-5/source/images
themes/bootstrap-5/source/demoFile
themes/bootstrap-5/source/stylesheets
themes/bootstrap-5/source/css
themes/bootstrap-5/source/libs/font-awesome
themes/bootstrap-5/source/libs/jquery
themes/bootstrap-5/source/libs/source-code-pro
themes/bootstrap-5/source/libs/titillium-web

