.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
themes/hueman
themes/next
yarn.lock
design-previews/

# casper-2026 大型素材：與 bootstrap-5 一致不進版控（本地保留、由 public/ 部署）
# 主題自身的小圖（avatar/書封）放在 source/img/ 不受此排除影響
themes/casper-2026/source/images/
themes/casper-2026/source/demoFile/
themes/casper-2026/source/libs/


themes/bootstrap-5/source/images
themes/bootstrap-5/source/demoFile
themes/bootstrap-5/source/stylesheets
themes/bootstrap-5/source/css
themes/bootstrap-5/source/libs/font-awesome
themes/bootstrap-5/source/libs/jquery
themes/bootstrap-5/source/libs/source-code-pro
themes/bootstrap-5/source/libs/titillium-web

.idea/