
<div class="widget-wrap widget-list mb-3">
    <h4 class="mb-3"><%= __('sidebar.facebook_fans') %></h4>
    <div class="widget">
        <div class="fb-page" data-href="https://www.facebook.com/WccCasper" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/WccCasper" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/WccCasper">卡斯伯</a></blockquote></div>
    </div>
</div>