<% if (site.posts.length) { %>
<div class="mb-3">
  <h4 class="mb-3"><%= __('sidebar.links') %></h4>
  <div class="widget">
    <ul>
      <% for (var i in theme.miscellaneous.links) { %>
      <li>
        <a href="<%- theme.miscellaneous.links[i] %>"><%= i %></a>
      </li>
      <% } %>
    </ul>
  </div>
</div>
<% } %>
