<% if (site.tags.length) { %>
<div class="mb-3">
  <h4 class="mb-3"><%= __('sidebar.tag_cloud') %></h4>
  <div class="widget tagcloud" style="line-height: 1;"><%- tagcloud(site.tags, {class: 'p-1 m-1 d-inline-block ', min_font: 14, max_font: 24}) %></div>
</div>
<% } %>
