<% if (site.tags.length) { %>
<div class="mb-3">
  <h4 class="mb-3"><%= __('sidebar.tag_cloud') %></h4>
  <div class="widget tagcloud"><%- tagcloud(site.tags, {class: 'badge rounded-pill bg-light text-dark '}) %></div>
</div>
<% } %>
