@import url("http://fonts.googleapis.com/css?family=The+Girl+Next+Door");
.d0818 span {
  display: block;
  margin-bottom: 8px;
  width: 50px;
  height: 50px;
  clear: both;
  position: relative;
}
.d0818 .old {
  background: red;
}
.d0818 .new {
  background: green;
}

.d0819 {
  position: relative;
}
.d0819 .test1 {
  padding: 4px;
}
.d0819 .test1:before {
  content: attr(data-foo) "";
}
.d0819 .test2 {
  background: orange;
  display: block;
  width: calc(100% - 80px);
  margin: 0 auto;
  text-align: center;
}
.d0819 .test3 {
  background: orange;
  display: block;
  width: calc(100% / 6);
  margin: 0 auto;
  text-align: center;
}
.d0819 .test4 {
  position: relative;
  height: 1.6em;
}
.d0819 .test4 span {
  background: orange;
  display: block;
  position: absolute;
  left: calc(10% + 20px);
}

.d0820 {
  font-size: 4em;
  line-height: 1em;
  color: white;
  background: #555555;
  padding: 20px !important;
}
.d0820 .text-shadow0 {
  text-shadow: 1px 1px 5px black;
}
.d0820 .text-shadow1 {
  text-shadow: 1px 1px 0 black;
}
.d0820 .text-shadow2 {
  text-shadow: -1px -1px 0 black;
}
.d0820 .text-shadow3 {
  text-shadow: 0 0 20px orange;
}
.d0820 .text-shadow4 {
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 40px #ff00de, 0 0 70px #ff00de;
}
.d0820 .text-shadow11 {
  color: #cccccc;
  text-shadow: -1px -1px 0 white, 1px 1px 0 #333333, 1px 1px 0 #444444;
}
.d0820 .text-shadow5 {
  color: transparent;
  text-shadow: 0 0 5px red;
}
.d0820 .text-shadow6 {
  text-shadow: 1px 1px 0 red, -1px -1px 0 red;
}
.d0820 .text-shadow7 {
  text-shadow: 1px 1px rgba(220, 220, 220, 0.8), 2px 2px rgba(220, 220, 220, 0.8), 3px 3px rgba(220, 220, 220, 0.8), 4px 4px rgba(220, 220, 220, 0.8), 5px 5px rgba(220, 220, 220, 0.8);
}
.d0820 .text-shadow8 {
  text-shadow: 1px 1px rgba(220, 220, 220, 0.8), -2px -2px rgba(220, 220, 220, 0.8), -3px -3px rgba(220, 220, 220, 0.8), -4px -4px rgba(220, 220, 220, 0.8), -5px -5px rgba(220, 220, 220, 0.8);
}
.d0820 .text-shadow9 {
  text-shadow: 3px 3px 0 #555555, 5px 5px 0 white;
}
.d0820 .text-shadow10 {
  color: rgba(255, 175, 140, 0.5);
  text-shadow: 3px 3px 0 rgba(180, 255, 0, 0.5);
}

@font-face {
  font-family: "Kavoon-Regular";
  src: url('fonts/Kavoon-Regular.ttf') format('truetype');
}

.d0823 {
  line-height: 2em;
  font-size: 2em;
}
.d0823 .webfont1 {
  font-family: Kavoon-Regular;
}
.d0823 .webfont2 {
  font-family: "The Girl Next Door", cursive;
}
.d0823 .webfont3 {
  font-family: "Frijole", cursive;
}

.d0824:hover > div {
  margin-left: calc(100% - 50px);
}
.d0824 div {
  width: 50px;
  height: 50px;
  background: red;
  -webkit-transition-property: margin-left;
  -moz-transition-property: margin-left;
  -o-transition-property: margin-left;
  transition-property: margin-left;
  -webkit-transition-duration: 5s;
  -moz-transition-duration: 5s;
  -o-transition-duration: 5s;
  transition-duration: 5s;
}
.d0824 div + div {
  margin-top: 5px;
}
.d0824 .timing1 {
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
.d0824 .timing2 {
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.d0824 .timing3 {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.d0824 .timing4 {
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.d0824 .timing5 {
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
.d0824 .timing6 {
  -webkit-transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
  -moz-transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
  -o-transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}
.d0824 .timing7 {
  -webkit-transition-timing-function: step-start;
  -moz-transition-timing-function: step-start;
  -o-transition-timing-function: step-start;
  transition-timing-function: step-start;
}
.d0824 .timing8 {
  -webkit-transition-timing-function: step-end;
  -moz-transition-timing-function: step-end;
  -o-transition-timing-function: step-end;
  transition-timing-function: step-end;
}
.d0824 .timing9 {
  -webkit-transition-timing-function: steps(4, end);
  -moz-transition-timing-function: steps(4, end);
  -o-transition-timing-function: steps(4, end);
  transition-timing-function: steps(4, end);
}
.d0824 .timing11 {
  -webkit-transition-timing-function: inherit;
  -moz-transition-timing-function: inherit;
  -o-transition-timing-function: inherit;
  transition-timing-function: inherit;
}

.d0825 {
  font-size: 8em;
  font-weight: bold;
  line-height: 1em;
  text-shadow: none;
  color: #34ffff;
  overflow: hidden;
}
.d0825 div {
  text-shadow: 1px 1px 0 rgba(17, 131, 108, 0.95), 2px 2px 0 rgba(17, 131, 108, 0.5), 3px 3px 0 rgba(17, 131, 108, 0.35), 4px 4px 0 rgba(17, 131, 108, 0.275), 5px 5px 0 rgba(17, 131, 108, 0.23), 6px 6px 0 rgba(17, 131, 108, 0.2), 7px 7px 0 rgba(17, 131, 108, 0.17857), 8px 8px 0 rgba(17, 131, 108, 0.1625), 9px 9px 0 rgba(17, 131, 108, 0.15), 10px 10px 0 rgba(17, 131, 108, 0.14), 11px 11px 0 rgba(17, 131, 108, 0.13182), 12px 12px 0 rgba(17, 131, 108, 0.125), 13px 13px 0 rgba(17, 131, 108, 0.11923), 14px 14px 0 rgba(17, 131, 108, 0.11429), 15px 15px 0 rgba(17, 131, 108, 0.11), 16px 16px 0 rgba(17, 131, 108, 0.10625), 17px 17px 0 rgba(17, 131, 108, 0.10294), 18px 18px 0 rgba(17, 131, 108, 0.1), 19px 19px 0 rgba(17, 131, 108, 0.09737), 20px 20px 0 rgba(17, 131, 108, 0.095), 21px 21px 0 rgba(17, 131, 108, 0.09286), 22px 22px 0 rgba(17, 131, 108, 0.09091), 23px 23px 0 rgba(17, 131, 108, 0.08913), 24px 24px 0 rgba(17, 131, 108, 0.0875), 25px 25px 0 rgba(17, 131, 108, 0.086), 26px 26px 0 rgba(17, 131, 108, 0.08462), 27px 27px 0 rgba(17, 131, 108, 0.08333), 28px 28px 0 rgba(17, 131, 108, 0.08214), 29px 29px 0 rgba(17, 131, 108, 0.08103), 30px 30px 0 rgba(17, 131, 108, 0.08), 31px 31px 0 rgba(17, 131, 108, 0.07903), 32px 32px 0 rgba(17, 131, 108, 0.07813), 33px 33px 0 rgba(17, 131, 108, 0.07727), 34px 34px 0 rgba(17, 131, 108, 0.07647), 35px 35px 0 rgba(17, 131, 108, 0.07571), 36px 36px 0 rgba(17, 131, 108, 0.075), 37px 37px 0 rgba(17, 131, 108, 0.07432), 38px 38px 0 rgba(17, 131, 108, 0.07368), 39px 39px 0 rgba(17, 131, 108, 0.07308), 40px 40px 0 rgba(17, 131, 108, 0.0725);
  -webkit-box-shadow: 1px 1px 0 #b3b3b3, 2px 2px 0 rgba(179, 179, 179, 0.5), 3px 3px 0 rgba(179, 179, 179, 0.33333), 4px 4px 0 rgba(179, 179, 179, 0.25), 5px 5px 0 rgba(179, 179, 179, 0.2), 6px 6px 0 rgba(179, 179, 179, 0.16667), 7px 7px 0 rgba(179, 179, 179, 0.14286), 8px 8px 0 rgba(179, 179, 179, 0.125), 9px 9px 0 rgba(179, 179, 179, 0.11111), 10px 10px 0 rgba(179, 179, 179, 0.1), 11px 11px 0 rgba(179, 179, 179, 0.09091), 12px 12px 0 rgba(179, 179, 179, 0.08333), 13px 13px 0 rgba(179, 179, 179, 0.07692), 14px 14px 0 rgba(179, 179, 179, 0.07143), 15px 15px 0 rgba(179, 179, 179, 0.06667), 16px 16px 0 rgba(179, 179, 179, 0.0625), 17px 17px 0 rgba(179, 179, 179, 0.05882), 18px 18px 0 rgba(179, 179, 179, 0.05556), 19px 19px 0 rgba(179, 179, 179, 0.05263), 20px 20px 0 rgba(179, 179, 179, 0.05), 21px 21px 0 rgba(179, 179, 179, 0.04762), 22px 22px 0 rgba(179, 179, 179, 0.04545), 23px 23px 0 rgba(179, 179, 179, 0.04348), 24px 24px 0 rgba(179, 179, 179, 0.04167), 25px 25px 0 rgba(179, 179, 179, 0.04), 26px 26px 0 rgba(179, 179, 179, 0.03846), 27px 27px 0 rgba(179, 179, 179, 0.03704), 28px 28px 0 rgba(179, 179, 179, 0.03571), 29px 29px 0 rgba(179, 179, 179, 0.03448), 30px 30px 0 rgba(179, 179, 179, 0.03333), 31px 31px 0 rgba(179, 179, 179, 0.03226), 32px 32px 0 rgba(179, 179, 179, 0.03125), 33px 33px 0 rgba(179, 179, 179, 0.0303), 34px 34px 0 rgba(179, 179, 179, 0.02941), 35px 35px 0 rgba(179, 179, 179, 0.02857), 36px 36px 0 rgba(179, 179, 179, 0.02778), 37px 37px 0 rgba(179, 179, 179, 0.02703), 38px 38px 0 rgba(179, 179, 179, 0.02632), 39px 39px 0 rgba(179, 179, 179, 0.02564), 40px 40px 0 rgba(179, 179, 179, 0.025);
  -moz-box-shadow: 1px 1px 0 #b3b3b3, 2px 2px 0 rgba(179, 179, 179, 0.5), 3px 3px 0 rgba(179, 179, 179, 0.33333), 4px 4px 0 rgba(179, 179, 179, 0.25), 5px 5px 0 rgba(179, 179, 179, 0.2), 6px 6px 0 rgba(179, 179, 179, 0.16667), 7px 7px 0 rgba(179, 179, 179, 0.14286), 8px 8px 0 rgba(179, 179, 179, 0.125), 9px 9px 0 rgba(179, 179, 179, 0.11111), 10px 10px 0 rgba(179, 179, 179, 0.1), 11px 11px 0 rgba(179, 179, 179, 0.09091), 12px 12px 0 rgba(179, 179, 179, 0.08333), 13px 13px 0 rgba(179, 179, 179, 0.07692), 14px 14px 0 rgba(179, 179, 179, 0.07143), 15px 15px 0 rgba(179, 179, 179, 0.06667), 16px 16px 0 rgba(179, 179, 179, 0.0625), 17px 17px 0 rgba(179, 179, 179, 0.05882), 18px 18px 0 rgba(179, 179, 179, 0.05556), 19px 19px 0 rgba(179, 179, 179, 0.05263), 20px 20px 0 rgba(179, 179, 179, 0.05), 21px 21px 0 rgba(179, 179, 179, 0.04762), 22px 22px 0 rgba(179, 179, 179, 0.04545), 23px 23px 0 rgba(179, 179, 179, 0.04348), 24px 24px 0 rgba(179, 179, 179, 0.04167), 25px 25px 0 rgba(179, 179, 179, 0.04), 26px 26px 0 rgba(179, 179, 179, 0.03846), 27px 27px 0 rgba(179, 179, 179, 0.03704), 28px 28px 0 rgba(179, 179, 179, 0.03571), 29px 29px 0 rgba(179, 179, 179, 0.03448), 30px 30px 0 rgba(179, 179, 179, 0.03333), 31px 31px 0 rgba(179, 179, 179, 0.03226), 32px 32px 0 rgba(179, 179, 179, 0.03125), 33px 33px 0 rgba(179, 179, 179, 0.0303), 34px 34px 0 rgba(179, 179, 179, 0.02941), 35px 35px 0 rgba(179, 179, 179, 0.02857), 36px 36px 0 rgba(179, 179, 179, 0.02778), 37px 37px 0 rgba(179, 179, 179, 0.02703), 38px 38px 0 rgba(179, 179, 179, 0.02632), 39px 39px 0 rgba(179, 179, 179, 0.02564), 40px 40px 0 rgba(179, 179, 179, 0.025);
  box-shadow: 1px 1px 0 #b3b3b3, 2px 2px 0 rgba(179, 179, 179, 0.5), 3px 3px 0 rgba(179, 179, 179, 0.33333), 4px 4px 0 rgba(179, 179, 179, 0.25), 5px 5px 0 rgba(179, 179, 179, 0.2), 6px 6px 0 rgba(179, 179, 179, 0.16667), 7px 7px 0 rgba(179, 179, 179, 0.14286), 8px 8px 0 rgba(179, 179, 179, 0.125), 9px 9px 0 rgba(179, 179, 179, 0.11111), 10px 10px 0 rgba(179, 179, 179, 0.1), 11px 11px 0 rgba(179, 179, 179, 0.09091), 12px 12px 0 rgba(179, 179, 179, 0.08333), 13px 13px 0 rgba(179, 179, 179, 0.07692), 14px 14px 0 rgba(179, 179, 179, 0.07143), 15px 15px 0 rgba(179, 179, 179, 0.06667), 16px 16px 0 rgba(179, 179, 179, 0.0625), 17px 17px 0 rgba(179, 179, 179, 0.05882), 18px 18px 0 rgba(179, 179, 179, 0.05556), 19px 19px 0 rgba(179, 179, 179, 0.05263), 20px 20px 0 rgba(179, 179, 179, 0.05), 21px 21px 0 rgba(179, 179, 179, 0.04762), 22px 22px 0 rgba(179, 179, 179, 0.04545), 23px 23px 0 rgba(179, 179, 179, 0.04348), 24px 24px 0 rgba(179, 179, 179, 0.04167), 25px 25px 0 rgba(179, 179, 179, 0.04), 26px 26px 0 rgba(179, 179, 179, 0.03846), 27px 27px 0 rgba(179, 179, 179, 0.03704), 28px 28px 0 rgba(179, 179, 179, 0.03571), 29px 29px 0 rgba(179, 179, 179, 0.03448), 30px 30px 0 rgba(179, 179, 179, 0.03333), 31px 31px 0 rgba(179, 179, 179, 0.03226), 32px 32px 0 rgba(179, 179, 179, 0.03125), 33px 33px 0 rgba(179, 179, 179, 0.0303), 34px 34px 0 rgba(179, 179, 179, 0.02941), 35px 35px 0 rgba(179, 179, 179, 0.02857), 36px 36px 0 rgba(179, 179, 179, 0.02778), 37px 37px 0 rgba(179, 179, 179, 0.02703), 38px 38px 0 rgba(179, 179, 179, 0.02632), 39px 39px 0 rgba(179, 179, 179, 0.02564), 40px 40px 0 rgba(179, 179, 179, 0.025);
  margin: 0 auto;
  background: #1abc9c;
  width: 1em;
  height: 1em;
  padding: 0.1em;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.d0826 {
  color: white;
  text-shadow: none;
}
.d0826 > div {
  height: 50px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.d0826 .org {
  background: #f09671;
}
.d0826 .darken {
  background: #e9632c;
}
.d0826 .lighten {
  background: #f7c9b6;
}
.d0826 .saturate {
  background: #fc9165;
}
.d0826 .desaturate {
  background: #e49b7d;
}
.d0826 .hue {
  background: 17.48031deg;
  color: #777777;
}
.d0826 .adjust-hue {
  background: #f0b671;
}
.d0826 .lightness {
  background: 69.21569%;
  color: #777777;
}
.d0826 .lightness2 {
  background: 84.21569%;
  background: #f7c9b6;
  color: #777777;
}
.d0826 .grayscale {
  background: 69.21569%;
  background: #b1b1b1;
}
.d0826 .complement {
  background: #71cbf0;
}
.d0826 .invert {
  background: #0f698e;
}

.d0830 .box, .d0830 .d0914 .rotate, .d0914 .d0830 .rotate, .d0830 .d0914 .rotate2, .d0914 .d0830 .rotate2, .d0830 .d0914 .scale, .d0914 .d0830 .scale, .d0830 .d0914 .scale2, .d0914 .d0830 .scale2 {
  width: 50px;
  height: 50px;
  background: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.d0901 {
  overflow-x: scroll;
  background-color: white;
}
.d0901 .overflow {
  width: 100%;
  padding-right: 100%;
  height: 20px;
}
.d0901.scrollbar1::-webkit-scrollbar {
  height: 10px;
  background-color: whitesmoke;
}
.d0901.scrollbar1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555555;
}
.d0901.scrollbar1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: whitesmoke;
}
.d0901.scrollbar2::-webkit-scrollbar {
  height: 10px;
  background-color: whitesmoke;
}
.d0901.scrollbar2::-webkit-scrollbar-thumb {
  background-color: black;
  border: 2px solid #555555;
}
.d0901.scrollbar2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: whitesmoke;
}
.d0901.scrollbar3::-webkit-scrollbar {
  height: 10px;
  background-color: whitesmoke;
}
.d0901.scrollbar3::-webkit-scrollbar-thumb {
  background-color: #00aaee;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, transparent), to(transparent));
}
.d0901.scrollbar3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: whitesmoke;
}
.d0901.scrollbar4::-webkit-scrollbar {
  height: 10px;
  background-color: whitesmoke;
}
.d0901.scrollbar4::-webkit-scrollbar-thumb {
  background-color: #ff9900;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
}
.d0901.scrollbar4::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: whitesmoke;
}
.d0901.scrollbar5::-webkit-scrollbar {
  height: 10px;
  background-color: transparent;
}
.d0901.scrollbar5::-webkit-scrollbar-thumb {
  background-color: #ff9900;
  background-image: -webkit-linear-gradient(45deg, #f3c5bd 0%, #e86c57 23%, #ea2803 24%, #ff6600 75%, #c72200 100%);
  background-image: -moz-linear-gradient(45deg, #f3c5bd 0%, #e86c57 23%, #ea2803 24%, #ff6600 75%, #c72200 100%);
  background-image: -o-linear-gradient(45deg, #f3c5bd 0%, #e86c57 23%, #ea2803 24%, #ff6600 75%, #c72200 100%);
  background-image: linear-gradient(45deg, #f3c5bd 0%, #e86c57 23%, #ea2803 24%, #ff6600 75%, #c72200 100%);
}
.d0901.scrollbar5::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;
}
.d0901.scrollbar6:hover::-webkit-scrollbar-thumb {
  background-color: #777777;
}
.d0901.scrollbar6::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background-color: transparent;
}
.d0901.scrollbar6::-webkit-scrollbar-thumb {
  background-color: rgba(170, 170, 170, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.d0901.scrollbar6::-webkit-scrollbar-track {
  background-color: transparent;
}

.d0904 {
  padding: 20px !important;
}
.d0904 .arrow {
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: red 20px solid;
  border-right: orange 20px solid;
  border-bottom: blue 20px solid;
  border-left: green 20px solid;
}
.d0904 .box, .d0904 .d0914 .rotate, .d0914 .d0904 .rotate, .d0904 .d0914 .rotate2, .d0914 .d0904 .rotate2, .d0904 .d0914 .scale, .d0914 .d0904 .scale, .d0904 .d0914 .scale2, .d0914 .d0904 .scale2 {
  width: 10em;
  padding: 1em;
  margin: 0 auto;
  background: #f74b48;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
.d0904 .toparrow {
  width: 0;
  height: 0;
  position: absolute;
  left: 10px;
  top: -20px;
  border: transparent 10px solid;
  border-bottom: #f74b48 10px solid;
}
.d0904 .bottomArrow {
  width: 0;
  height: 0;
  position: absolute;
  left: 10px;
  bottom: -20px;
  border: transparent 10px solid;
  border-top: #f74b48 10px solid;
}
.d0904 .box-withArrow {
  width: 10em;
  padding: 1em;
  margin: 0 auto;
  background: #f74b48;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
.d0904 .box-withArrow:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 10px;
  bottom: -20px;
  border: transparent 10px solid;
  border-top: #f74b48 10px solid;
}

.d0905 {
  padding: 10px;
  min-height: 1em;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
}
.d0905.test1 {
  position: relative;
  display: block;
}
.d0905.test1:after, .d0905.test1:before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  bottom: 6px;
  width: 50%;
  height: 20%;
  z-index: -1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px;
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px;
}
.d0905.test1:after {
  right: 5px;
  left: auto;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}
.d0905.test1:before {
  left: 5px;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
.d0905.test2 {
  position: relative;
}
.d0905.test2:after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  bottom: 6px;
  width: 50%;
  height: 20%;
}
.d0905.test3 {
  position: relative;
}
.d0905.test3:after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  bottom: 6px;
  width: 50%;
  height: 20%;
  z-index: -1;
  right: 5px;
  left: auto;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px;
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px;
}
.d0905.test4 {
  position: relative;
  background: white;
}
.d0905.test4:after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  bottom: 6px;
  width: 50%;
  height: 20%;
  z-index: -1;
  right: 5px;
  left: auto;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px;
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px;
}

.d0906 {
  line-height: 1.5em;
  font-size: 5em;
  font-weight: bold;
  color: white;
}
.d0906 .text-cubicStyle1 {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.95), 2px 2px 0 rgba(0, 0, 0, 0.5), 3px 3px 0 rgba(0, 0, 0, 0.35), 4px 4px 0 rgba(0, 0, 0, 0.275), 5px 5px 0 rgba(0, 0, 0, 0.23), 6px 6px 0 rgba(0, 0, 0, 0.2), 7px 7px 0 rgba(0, 0, 0, 0.17857), 8px 8px 0 rgba(0, 0, 0, 0.1625), 9px 9px 0 rgba(0, 0, 0, 0.15), 10px 10px 0 rgba(0, 0, 0, 0.14), 11px 11px 0 rgba(0, 0, 0, 0.13182), 12px 12px 0 rgba(0, 0, 0, 0.125), 13px 13px 0 rgba(0, 0, 0, 0.11923), 14px 14px 0 rgba(0, 0, 0, 0.11429), 15px 15px 0 rgba(0, 0, 0, 0.11), 16px 16px 0 rgba(0, 0, 0, 0.10625), 17px 17px 0 rgba(0, 0, 0, 0.10294), 18px 18px 0 rgba(0, 0, 0, 0.1), 19px 19px 0 rgba(0, 0, 0, 0.09737), 20px 20px 0 rgba(0, 0, 0, 0.095);
}
.d0906 .text-cubicStyle2 {
  text-shadow: 1px 1px 0 #dddddd, 2px 2px 0 gainsboro, 3px 3px 0 #dadada, 4px 4px 0 #d9d9d9, 5px 5px 0 #d7d7d7, 6px 6px 0 #d5d5d5, 7px 7px 0 #d4d4d4, 8px 8px 0 #d2d2d2, 9px 9px 0 #d1d1d1, 10px 10px 0 #cfcfcf, 11px 11px 0 #cdcdcd, 12px 12px 0 #cccccc, 13px 13px 0 #cacaca, 14px 14px 0 #c9c9c9, 15px 15px 0 #c7c7c7, 16px 16px 0 #c6c6c6, 17px 17px 0 #c4c4c4, 18px 18px 0 #c2c2c2, 19px 19px 0 #c1c1c1, 20px 20px 0 #bfbfbf;
}
.d0906 .text-cubicStyle3 {
  text-shadow: 1px 1px 0 #dddddd, 2px 2px 0 gainsboro, 3px 3px 0 #dadada, 4px 4px 0 #d9d9d9, 5px 5px 0 #d7d7d7, 6px 6px 0 #d5d5d5, 7px 7px 0 #d4d4d4, 8px 8px 0 #d2d2d2, 9px 9px 0 #d1d1d1, 10px 10px 0 #cfcfcf, 11px 11px 0 #cdcdcd, 12px 12px 0 #cccccc, 13px 13px 0 #cacaca, 14px 14px 0 #c9c9c9, 15px 15px 0 #c7c7c7, 16px 16px 1px rgba(0, 0, 0, 0.3), 17px 17px 10px rgba(0, 0, 0, 0.6);
}

.d0909 {
  text-align: center;
}
.d0909 .test1 .coverflow-item {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.d0909 .test1 .coverflow-item .album-cover {
  height: 150px;
  width: 150px;
}
.d0909 .test1 .coverflow-item .album-cover img {
  opacity: 0.5;
}
.d0909 .test1 .coverflow-item .album-name {
  text-align: center;
  display: block;
  color: #777777;
}
.d0909 .test1 .coverflow-item label {
  display: block;
}
.d0909 .test2 .coverflow-item {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.d0909 .test2 .coverflow-item .album-cover {
  height: 150px;
  width: 150px;
}
.d0909 .test2 .coverflow-item .album-cover img {
  opacity: 0.5;
}
.d0909 .test2 .coverflow-item .album-name {
  text-align: center;
  display: block;
  color: #777777;
}
.d0909 .test2 .coverflow-item label {
  display: block;
}
.d0909 .test2 .coverflow-list {
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  -ms-perspective: 900px;
  -o-perspective: 900px;
  perspective: 900px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective-origin: 100% 30%;
  -moz-perspective-origin: 100% 30%;
  -ms-perspective-origin: 100% 30%;
  -o-perspective-origin: 100% 30%;
  perspective-origin: 100% 30%;
}
.d0909 .test2 .coverflow-list .coverflow-item {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: rotateY(45deg);
  -moz-transform: rotateY(45deg);
  -ms-transform: rotateY(45deg);
  -o-transform: rotateY(45deg);
  transform: rotateY(45deg);
}
.d0909 .test3 .coverflow-item {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.d0909 .test3 .coverflow-item .album-cover {
  height: 150px;
  width: 150px;
}
.d0909 .test3 .coverflow-item .album-cover img {
  opacity: 0.5;
}
.d0909 .test3 .coverflow-item .album-name {
  text-align: center;
  display: block;
  color: #777777;
}
.d0909 .test3 .coverflow-item label {
  display: block;
}
.d0909 .test3 .coverflow-list {
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  -ms-perspective: 900px;
  -o-perspective: 900px;
  perspective: 900px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective-origin: 100% 30%;
  -moz-perspective-origin: 100% 30%;
  -ms-perspective-origin: 100% 30%;
  -o-perspective-origin: 100% 30%;
  perspective-origin: 100% 30%;
}
.d0909 .test3 .coverflow-list .coverflow-item {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: rotateY(45deg);
  -moz-transform: rotateY(45deg);
  -ms-transform: rotateY(45deg);
  -o-transform: rotateY(45deg);
  transform: rotateY(45deg);
}
.d0909 .test3 input[type="checkbox"] {
  display: none;
}
.d0909 .test3 input[type="checkbox"]:checked + .coverflow-item {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: rotateY(0.1deg);
  -moz-transform: rotateY(0.1deg);
  -ms-transform: rotateY(0.1deg);
  -o-transform: rotateY(0.1deg);
  transform: rotateY(0.1deg);
  margin: 0 auto;
}
.d0909 .test3 input[type="checkbox"]:checked + .coverflow-item img {
  opacity: 1;
}
.d0909 .test3 input[type="checkbox"]:checked + .coverflow-item .album-name {
  color: #333333;
}
.d0909 .test3 .controllor {
  margin-top: 10px;
}

.d0910 {
  text-align: center;
}
.d0910 .coverflow-item {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  text-align: center;
  margin: 0 -45px;
  background-color: white;
}
.d0910 .coverflow-item .album-cover {
  height: 150px;
  width: 150px;
  -webkit-box-reflect: below 22px -webkit-linear-gradient(rgba(255, 255, 255, 0) 85%, white 150%);
  -moz-box-reflect: below 22px -moz-linear-gradient(rgba(255, 255, 255, 0) 85%, white 150%);
  -o-box-reflect: below 22px -o-linear-gradient(rgba(255, 255, 255, 0) 85%, white 150%);
  -ms-box-reflect: below 22px -ms-linear-gradient(rgba(255, 255, 255, 0) 85%, white 150%);
  box-reflect: below 22px linear-gradient(rgba(255, 255, 255, 0) 85%, #ffffff 150%);
}
.d0910 .coverflow-item .album-cover img {
  opacity: 0.5;
}
.d0910 .coverflow-item .album-name {
  text-align: center;
  display: block;
  color: #777777;
}
.d0910 .coverflow-item label {
  display: block;
}
.d0910 .coverflow-list {
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  -ms-perspective: 900px;
  -o-perspective: 900px;
  perspective: 900px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective-origin: 100% 30%;
  -moz-perspective-origin: 100% 30%;
  -ms-perspective-origin: 100% 30%;
  -o-perspective-origin: 100% 30%;
  perspective-origin: 100% 30%;
}
.d0910 .coverflow-list .coverflow-item {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: rotateY(45deg);
  -moz-transform: rotateY(45deg);
  -ms-transform: rotateY(45deg);
  -o-transform: rotateY(45deg);
  transform: rotateY(45deg);
}
.d0910 input[type="radio"] {
  display: none;
}
.d0910 input[type="radio"]:checked + .coverflow-item {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: rotateY(0.1deg);
  -moz-transform: rotateY(0.1deg);
  -ms-transform: rotateY(0.1deg);
  -o-transform: rotateY(0.1deg);
  transform: rotateY(0.1deg);
  margin: 0 auto;
}
.d0910 input[type="radio"]:checked + .coverflow-item img {
  opacity: 1;
}
.d0910 input[type="radio"]:checked + .coverflow-item .album-name {
  color: #555555;
}
.d0910 input[type="radio"]:checked + .coverflow-item ~ .coverflow-item {
  -webkit-transform: rotateY(-45deg);
  -moz-transform: rotateY(-45deg);
  -ms-transform: rotateY(-45deg);
  -o-transform: rotateY(-45deg);
  transform: rotateY(-45deg);
}
.d0910 .controllor {
  margin-top: 40px;
}
.d0910 .controllor label {
  cursor: pointer;
  color: #999999;
  padding: 8px;
  border: 1px solid #cccccc;
  background-color: #fafafa;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.d0910 .controllor label:hover {
  color: #555555;
  border: 1px solid #555555;
}

.d0911-2 {
  background-color: #0e83cd;
  text-align: center;
  font-size: 1.5em;
}
.d0911-2 li {
  display: inline-block;
  margin: 15px 20px;
}
.d0911-2 a {
  color: white;
  padding: 4px 8px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.d0911-2 .test1 a:after, .d0911-2 .test1 a:before {
  display: inline-block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.d0911-2 .test1 a:after {
  content: "]";
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -o-transform: translateX(-10px);
  transform: translateX(-10px);
}
.d0911-2 .test1 a:before {
  content: "[";
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
.d0911-2 .test1 a:hover:after, .d0911-2 .test1 a:hover:before {
  opacity: 1;
}
.d0911-2 .test1 a:hover:after {
  content: "]";
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}
.d0911-2 .test1 a:hover:before {
  content: "[";
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -o-transform: translateX(-10px);
  transform: translateX(-10px);
}
.d0911-2 .test2 a:after {
  content: "";
  opacity: 0;
  bottom: -15px;
  left: 0;
  right: 0;
  height: 4px;
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.d0911-2 .test2 a:hover:after {
  bottom: -5px;
  opacity: 1;
}
.d0911-2 .test3 a:after, .d0911-2 .test3 a:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: white;
  position: absolute;
}
.d0911-2 .test3 a:after {
  width: 2px;
  height: 2px;
  left: 0;
  top: 0;
}
.d0911-2 .test3 a:before {
  left: 0;
  top: 0;
  right: 0;
  height: 2px;
}
.d0911-2 .test3 a:hover:after {
  bottom: 0;
  height: 100%;
}
.d0911-2 .test3 a:hover:before {
  top: 100%;
}

.d0911 div {
  text-shadow: 1px 1px 0 #aaaaaa;
}
.d0911 .test1::-moz-selection {
  background: black;
  color: white;
}
.d0911 .test1::selection {
  background: black;
  color: white;
}
.d0911 .test2::-moz-selection {
  background: red;
  color: white;
  text-shadow: none;
}
.d0911 .test2::selection {
  background: red;
  color: white;
  text-shadow: none;
}
.d0911 .test3 {
  background: url("../images/mayday/mayday1.JPEG") no-repeat center center;
}
.d0911 .test3 p {
  background: white;
}
.d0911 .test3 p::-moz-selection {
  background: transparent;
  color: red;
  text-shadow: none;
}
.d0911 .test3 p::selection {
  background: transparent;
  color: red;
  text-shadow: none;
}

.d0912 div {
  margin: 4px;
  border: #cccccc solid 1px;
  padding: 4px;
}
.d0912 div:hover {
  border: red solid 1px;
}
.d0912 .f12px {
  font-size: 12px;
}
.d0912 .f13px {
  font-size: 13px;
}
.d0912 .f14px {
  font-size: 14px;
}
.d0912 .f15px {
  font-size: 15px;
}
.d0912 .fLarge {
  font-size: large;
}
.d0912 .f1em {
  font-size: 1.1em;
}
.d0912 .f2em {
  font-size: 1.2em;
}
.d0912 .f3em {
  font-size: 1.3em;
}
.d0912 .f4em {
  font-size: 1.4em;
}
.d0912 .f1rem {
  font-size: 1.1rem;
}
.d0912 .f2rem {
  font-size: 1.2rem;
}
.d0912 .f3rem {
  font-size: 1.3rem;
}
.d0912 .f4rem {
  font-size: 1.4rem;
}

.d0913 {
  text-align: center;
}
.d0913 div {
  display: inline-block;
  background: orange;
}
.d0913 img {
  border: #cccccc 1px solid;
}
.d0913 .px {
  margin: 0 8px;
  width: 100px;
  height: 100px;
}
.d0913 .vw {
  width: 10vw;
  height: 10vw;
  margin: 0 8px;
}

.d0914 {
  text-align: center;
}
.d0914 .box, .d0914 .rotate, .d0914 .rotate2, .d0914 .scale, .d0914 .scale2 {
  display: inline-block;
  background: orange;
  width: 100px;
  height: 100px;
  position: relative;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.d0914 .dot {
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background: red;
  height: 5px;
  width: 5px;
  left: 50px;
  top: 98px;
}
.d0914 .rotate {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
.d0914 .rotate:hover {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.d0914 .rotate .dot {
  left: 50%;
  top: 50%;
  left: calc(50% - 2px);
  top: calc(50% - 2px);
}
.d0914 .rotate2 {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}
.d0914 .rotate2:hover {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.d0914 .rotate2 .dot {
  left: calc(0% - 2px);
  top: calc(0% - 2px);
}
.d0914 .scale {
  -webkit-transform: scale(1.5, 1.5);
  -moz-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  -o-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
}
.d0914 .scale:hover {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.d0914 .scale .dot {
  left: 50%;
  top: 50%;
  left: calc(50% - 2px);
  top: calc(50% - 2px);
}
.d0914 .scale2 {
  -webkit-transform: scale(1.5, 1.5);
  -moz-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  -o-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}
.d0914 .scale2:hover {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.d0914 .scale2 .dot {
  left: calc(0% - 2px);
  top: calc(0% - 2px);
}
.d0914 .relative {
  position: relative;
  height: 100px;
}
.d0914 .topLine, .d0914 .middleLine, .d0914 .bottomLine {
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
}
.d0914 .topLine {
  top: 0;
  background: rgba(255, 0, 0, 0.6);
}
.d0914 .middleLine {
  top: 50%;
  top: calc(50% - 1px);
  background: rgba(0, 0, 255, 0.6);
}
.d0914 .bottomLine {
  bottom: 0;
  background: rgba(0, 128, 0, 0.6);
}
