@charset "utf-8";
.tpl button, .tpl a.button, .tpl input[type="submit"], .tpl input[type="button"], .tpl .aButton, .tpl2 button, .tpl2 a.button, .tpl2 input[type="submit"], .tpl2 input[type="button"], .tpl2 .aButton {
  color: #333333;
  border: 1px solid #aaaaaa;
  text-decoration: none;
  padding: 0.4em 1em;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  line-height: 1.6em;
  overflow: visible;
  text-shadow: 1 -1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #e6e6e6;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(#ffffff, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #e6e6e6);
  background-image: linear-gradient(#ffffff, #e6e6e6);
  color: white;
}
.tpl button:hover, .tpl a.button:hover, .tpl input[type="submit"]:hover, .tpl input[type="button"]:hover, .tpl .aButton:hover, .tpl2 button:hover, .tpl2 a.button:hover, .tpl2 input[type="submit"]:hover, .tpl2 input[type="button"]:hover, .tpl2 .aButton:hover {
  color: white;
}
.tpl button:focus, .tpl a.button:focus, .tpl input[type="submit"]:focus, .tpl input[type="button"]:focus, .tpl .aButton:focus, .tpl2 button:focus, .tpl2 a.button:focus, .tpl2 input[type="submit"]:focus, .tpl2 input[type="button"]:focus, .tpl2 .aButton:focus, .tpl button:active, .tpl a.button:active, .tpl input[type="submit"]:active, .tpl input[type="button"]:active, .tpl .aButton:active, .tpl2 button:active, .tpl2 a.button:active, .tpl2 input[type="submit"]:active, .tpl2 input[type="button"]:active, .tpl2 .aButton:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.tpl {
  margin-bottom: 10px;
  font-size: 15px;
}
.tpl label {
  margin: 4px 4px 2px 0;
  display: block;
}
.tpl option {
  outline: none;
}
.tpl input, .tpl textarea, .tpl select {
  line-height: 1.6em;
  background-color: #fefefe;
  vertical-align: middle;
  padding: 0.4em 0.5em;
  color: #333333;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.075);
}
.tpl textarea, .tpl select, .tpl input[type="text"], .tpl input[type="password"], .tpl input[type="datetime"], .tpl input[type="datetime-local"], .tpl input[type="date"], .tpl input[type="month"], .tpl input[type="time"], .tpl input[type="week"], .tpl input[type="number"], .tpl input[type="email"], .tpl input[type="url"], .tpl input[type="search"], .tpl input[type="tel"], .tpl input[type="color"], .tpl .uneditable-input {
  border: 1px solid #cccccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.tpl textarea:hover, .tpl select:hover, .tpl input[type="text"]:hover, .tpl input[type="password"]:hover, .tpl input[type="datetime"]:hover, .tpl input[type="datetime-local"]:hover, .tpl input[type="date"]:hover, .tpl input[type="month"]:hover, .tpl input[type="time"]:hover, .tpl input[type="week"]:hover, .tpl input[type="number"]:hover, .tpl input[type="email"]:hover, .tpl input[type="url"]:hover, .tpl input[type="search"]:hover, .tpl input[type="tel"]:hover, .tpl input[type="color"]:hover, .tpl .uneditable-input:hover {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}
.tpl textarea:focus, .tpl textarea:active, .tpl select:focus, .tpl select:active, .tpl input[type="text"]:focus, .tpl input[type="text"]:active, .tpl input[type="password"]:focus, .tpl input[type="password"]:active, .tpl input[type="datetime"]:focus, .tpl input[type="datetime"]:active, .tpl input[type="datetime-local"]:focus, .tpl input[type="datetime-local"]:active, .tpl input[type="date"]:focus, .tpl input[type="date"]:active, .tpl input[type="month"]:focus, .tpl input[type="month"]:active, .tpl input[type="time"]:focus, .tpl input[type="time"]:active, .tpl input[type="week"]:focus, .tpl input[type="week"]:active, .tpl input[type="number"]:focus, .tpl input[type="number"]:active, .tpl input[type="email"]:focus, .tpl input[type="email"]:active, .tpl input[type="url"]:focus, .tpl input[type="url"]:active, .tpl input[type="search"]:focus, .tpl input[type="search"]:active, .tpl input[type="tel"]:focus, .tpl input[type="tel"]:active, .tpl input[type="color"]:focus, .tpl input[type="color"]:active, .tpl .uneditable-input:focus, .tpl .uneditable-input:active {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 4px #00a0e9;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 4px #00a0e9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 4px #00a0e9;
  background-color: white;
  border: 1px solid #00a0e9;
}
.tpl button, .tpl a.button, .tpl input[type="submit"], .tpl input[type="button"], .tpl .aButton {
  border: 1px solid #007db6;
  background-color: #00a0e9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00a0e9), color-stop(100%, #007db6));
  background-image: -webkit-linear-gradient(#00a0e9, #007db6);
  background-image: -moz-linear-gradient(#00a0e9, #007db6);
  background-image: -o-linear-gradient(#00a0e9, #007db6);
  background-image: linear-gradient(#00a0e9, #007db6);
}
.tpl button:hover, .tpl a.button:hover, .tpl input[type="submit"]:hover, .tpl input[type="button"]:hover, .tpl .aButton:hover {
  background-color: #007db6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0095da), color-stop(100%, #006897));
  background-image: -webkit-linear-gradient(#0095da, #006897);
  background-image: -moz-linear-gradient(#0095da, #006897);
  background-image: -o-linear-gradient(#0095da, #006897);
  background-image: linear-gradient(#0095da, #006897);
}
.tpl em {
  font-weight: normal;
  color: red;
}
.tpl cite, .tpl legend, .tpl label {
  color: #555555;
}
.tpl a {
  color: #00a0e9;
  text-decoration: none;
}
.tpl a:hover {
  color: #ff0088;
}

fieldset.tpl, .tpl fieldset, .tplfieldset {
  border: 1px #cccccc dashed;
  padding: 10px;
  background: #ffffef;
}

.tplpage {
  padding-top: 10px;
  text-align: center;
}
.tplpage a {
  border: 1px #eeeeee solid;
  color: #00a0e9;
  text-decoration: none;
  background: white;
  display: inline-block;
  margin: 5px;
  padding: 0.1em 0.5em;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
.tplpage a:hover {
  background: #00a0e9;
  color: white;
}
.tplpage span {
  border: 0;
  color: #00a0e9;
  display: inline-block;
  margin: 5px;
  padding: 1px 5px 1px 5px;
}

table.tpl {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #dddddd;
  border-left: none;
  border-bottom: none;
  border-collapse: separate;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
table.tpl th, table.tpl td {
  text-align: left;
  padding: 6px;
  border-left: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-collapse: collapse;
}
table.tpl thead th {
  font-weight: bolder;
  background-color: #007db6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007db6), color-stop(100%, #00a0e9));
  background-image: -webkit-linear-gradient(#007db6, #00a0e9);
  background-image: -moz-linear-gradient(#007db6, #00a0e9);
  background-image: -o-linear-gradient(#007db6, #00a0e9);
  background-image: linear-gradient(#007db6, #00a0e9);
  text-align: center;
  color: white;
  font-size: 17px;
}
table.tpl tbody tr {
  color: #333333;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
table.tpl tbody tr:nth-child(odd) {
  background-color: #fbfbfb;
}
table.tpl tbody tr:hover {
  background-color: #eeeeee;
}
table.tpl tbody th {
  background: #007db6;
  color: white;
  text-align: right;
  font-weight: bolder;
  padding-right: 15px;
}
table.tpl input, table.tpl button, table.tpl select, table.tpl textarea {
  margin: 0;
}

.tpl2 {
  margin-bottom: 10px;
  font-size: 15px;
}
.tpl2 label {
  margin: 4px 4px 2px 0;
  display: block;
}
.tpl2 option {
  outline: none;
}
.tpl2 input, .tpl2 textarea, .tpl2 select {
  line-height: 1.6em;
  background-color: #fefefe;
  vertical-align: middle;
  padding: 0.4em 0.5em;
  color: #333333;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.075);
}
.tpl2 textarea, .tpl2 select, .tpl2 input[type="text"], .tpl2 input[type="password"], .tpl2 input[type="datetime"], .tpl2 input[type="datetime-local"], .tpl2 input[type="date"], .tpl2 input[type="month"], .tpl2 input[type="time"], .tpl2 input[type="week"], .tpl2 input[type="number"], .tpl2 input[type="email"], .tpl2 input[type="url"], .tpl2 input[type="search"], .tpl2 input[type="tel"], .tpl2 input[type="color"], .tpl2 .uneditable-input {
  border: 1px solid #cccccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.tpl2 textarea:hover, .tpl2 select:hover, .tpl2 input[type="text"]:hover, .tpl2 input[type="password"]:hover, .tpl2 input[type="datetime"]:hover, .tpl2 input[type="datetime-local"]:hover, .tpl2 input[type="date"]:hover, .tpl2 input[type="month"]:hover, .tpl2 input[type="time"]:hover, .tpl2 input[type="week"]:hover, .tpl2 input[type="number"]:hover, .tpl2 input[type="email"]:hover, .tpl2 input[type="url"]:hover, .tpl2 input[type="search"]:hover, .tpl2 input[type="tel"]:hover, .tpl2 input[type="color"]:hover, .tpl2 .uneditable-input:hover {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}
.tpl2 textarea:focus, .tpl2 textarea:active, .tpl2 select:focus, .tpl2 select:active, .tpl2 input[type="text"]:focus, .tpl2 input[type="text"]:active, .tpl2 input[type="password"]:focus, .tpl2 input[type="password"]:active, .tpl2 input[type="datetime"]:focus, .tpl2 input[type="datetime"]:active, .tpl2 input[type="datetime-local"]:focus, .tpl2 input[type="datetime-local"]:active, .tpl2 input[type="date"]:focus, .tpl2 input[type="date"]:active, .tpl2 input[type="month"]:focus, .tpl2 input[type="month"]:active, .tpl2 input[type="time"]:focus, .tpl2 input[type="time"]:active, .tpl2 input[type="week"]:focus, .tpl2 input[type="week"]:active, .tpl2 input[type="number"]:focus, .tpl2 input[type="number"]:active, .tpl2 input[type="email"]:focus, .tpl2 input[type="email"]:active, .tpl2 input[type="url"]:focus, .tpl2 input[type="url"]:active, .tpl2 input[type="search"]:focus, .tpl2 input[type="search"]:active, .tpl2 input[type="tel"]:focus, .tpl2 input[type="tel"]:active, .tpl2 input[type="color"]:focus, .tpl2 input[type="color"]:active, .tpl2 .uneditable-input:focus, .tpl2 .uneditable-input:active {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 4px green;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 4px green;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 4px green;
  background-color: white;
  border: 1px solid green;
}
.tpl2 button, .tpl2 a.button, .tpl2 input[type="submit"], .tpl2 input[type="button"], .tpl2 .aButton {
  border: 1px solid #004d00;
  background-color: green;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #008000), color-stop(100%, #004d00));
  background-image: -webkit-linear-gradient(#008000, #004d00);
  background-image: -moz-linear-gradient(#008000, #004d00);
  background-image: -o-linear-gradient(#008000, #004d00);
  background-image: linear-gradient(#008000, #004d00);
}
.tpl2 button:hover, .tpl2 a.button:hover, .tpl2 input[type="submit"]:hover, .tpl2 input[type="button"]:hover, .tpl2 .aButton:hover {
  background-color: #004d00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007100), color-stop(100%, #002e00));
  background-image: -webkit-linear-gradient(#007100, #002e00);
  background-image: -moz-linear-gradient(#007100, #002e00);
  background-image: -o-linear-gradient(#007100, #002e00);
  background-image: linear-gradient(#007100, #002e00);
}
.tpl2 em {
  font-weight: normal;
  color: red;
}
.tpl2 cite, .tpl2 legend, .tpl2 label {
  color: #555555;
}
.tpl2 a {
  color: green;
  text-decoration: none;
}
.tpl2 a:hover {
  color: #ff0088;
}

fieldset.tpl2, .tpl2 fieldset, .tpl2fieldset {
  border: 1px #cccccc dashed;
  padding: 10px;
  background: #ffffef;
}

.tpl2page {
  padding-top: 10px;
  text-align: center;
}
.tpl2page a {
  border: 1px #eeeeee solid;
  color: green;
  text-decoration: none;
  background: white;
  display: inline-block;
  margin: 5px;
  padding: 0.1em 0.5em;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
.tpl2page a:hover {
  background: green;
  color: white;
}
.tpl2page span {
  border: 0;
  color: green;
  display: inline-block;
  margin: 5px;
  padding: 1px 5px 1px 5px;
}

table.tpl2 {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #dddddd;
  border-left: none;
  border-bottom: none;
  border-collapse: separate;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
table.tpl2 th, table.tpl2 td {
  text-align: left;
  padding: 6px;
  border-left: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-collapse: collapse;
}
table.tpl2 thead th {
  font-weight: bolder;
  background-color: #004d00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #004d00), color-stop(100%, #008000));
  background-image: -webkit-linear-gradient(#004d00, #008000);
  background-image: -moz-linear-gradient(#004d00, #008000);
  background-image: -o-linear-gradient(#004d00, #008000);
  background-image: linear-gradient(#004d00, #008000);
  text-align: center;
  color: white;
  font-size: 17px;
}
table.tpl2 tbody tr {
  color: #333333;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
table.tpl2 tbody tr:nth-child(odd) {
  background-color: #fbfbfb;
}
table.tpl2 tbody tr:hover {
  background-color: #eeeeee;
}
table.tpl2 tbody th {
  background: #004d00;
  color: white;
  text-align: right;
  font-weight: bolder;
  padding-right: 15px;
}
table.tpl2 input, table.tpl2 button, table.tpl2 select, table.tpl2 textarea {
  margin: 0;
}

h2.atitle {
  color: #00a0e9;
  border-bottom: 1px solid #00a0e9;
}

hr {
  margin: 1.6em 0 1.6em;
  border: none;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid white;
  width: 100%;
}

.example p {
  margin-top: 0;
}

pre {
  background: #777777;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  margin-bottom: 1em;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 0 5px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 0 5px inset;
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 5px inset;
}

.clearFix {
  *zoom: 1;
  *overflow: hidden;
}
.clearFix:after {
  content: " ";
  display: table;
  clear: both;
  visibility: hidden;
}

aside nav {
  position: relative;
  z-index: 15;
}

.navMenu {
  width: 100%;
}
.navMenu li {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  border: solid 1px #007db6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.navMenu li a {
  padding: 5% 1%;
  display: block;
  color: white;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
  background-color: #00a0e9;
}
.navMenu li a:hover, .navMenu li a:focus {
  background-color: #007db6;
}

footer {
  width: 100%;
  min-height: 100px;
  background: #eeeeee;
  border-top: #cccccc 1px solid;
}

.fluidGridDemo .row {
  width: 1200px;
  max-width: 100%;
  margin-bottom: 15px;
}
.fluidGridDemo .row [class*='column'] {
  float: left;
  min-height: 1px;
  margin-bottom: 8px;
  margin-left: 3%;
  *margin-bottom: 3%;
  zoom: 1;
}
.fluidGridDemo .row [class*='column']:first-child {
  margin-left: 0;
}
.fluidGridDemo .row input[class*='column'], .fluidGridDemo .row img[class*='column'] {
  float: none;
  margin-left: 0;
}
.fluidGridDemo .row img[class*='column'] {
  height: auto;
}
.fluidGridDemo .row .column1 {
  width: 5.58333%;
  max-width: 5.58333%;
}
.fluidGridDemo .row img.column1.polaroid {
  width: -14.41667%;
}
.fluidGridDemo .row .offset1 {
  margin-left: 11.58333%;
}
.fluidGridDemo .row .offset1:first-child {
  margin-left: 8.58333%;
}
.fluidGridDemo .row .column2 {
  width: 14.16667%;
  max-width: 14.16667%;
}
.fluidGridDemo .row img.column2.polaroid {
  width: -5.83333%;
}
.fluidGridDemo .row .offset2 {
  margin-left: 20.16667%;
}
.fluidGridDemo .row .offset2:first-child {
  margin-left: 17.16667%;
}
.fluidGridDemo .row .column3 {
  width: 22.75%;
  max-width: 22.75%;
}
.fluidGridDemo .row img.column3.polaroid {
  width: 2.75%;
}
.fluidGridDemo .row .offset3 {
  margin-left: 28.75%;
}
.fluidGridDemo .row .offset3:first-child {
  margin-left: 25.75%;
}
.fluidGridDemo .row .column4 {
  width: 31.33333%;
  max-width: 31.33333%;
}
.fluidGridDemo .row img.column4.polaroid {
  width: 11.33333%;
}
.fluidGridDemo .row .offset4 {
  margin-left: 37.33333%;
}
.fluidGridDemo .row .offset4:first-child {
  margin-left: 34.33333%;
}
.fluidGridDemo .row .column5 {
  width: 39.91667%;
  max-width: 39.91667%;
}
.fluidGridDemo .row img.column5.polaroid {
  width: 19.91667%;
}
.fluidGridDemo .row .offset5 {
  margin-left: 45.91667%;
}
.fluidGridDemo .row .offset5:first-child {
  margin-left: 42.91667%;
}
.fluidGridDemo .row .column6 {
  width: 48.5%;
  max-width: 48.5%;
}
.fluidGridDemo .row img.column6.polaroid {
  width: 28.5%;
}
.fluidGridDemo .row .offset6 {
  margin-left: 54.5%;
}
.fluidGridDemo .row .offset6:first-child {
  margin-left: 51.5%;
}
.fluidGridDemo .row .column7 {
  width: 57.08333%;
  max-width: 57.08333%;
}
.fluidGridDemo .row img.column7.polaroid {
  width: 37.08333%;
}
.fluidGridDemo .row .offset7 {
  margin-left: 63.08333%;
}
.fluidGridDemo .row .offset7:first-child {
  margin-left: 60.08333%;
}
.fluidGridDemo .row .column8 {
  width: 65.66667%;
  max-width: 65.66667%;
}
.fluidGridDemo .row img.column8.polaroid {
  width: 45.66667%;
}
.fluidGridDemo .row .offset8 {
  margin-left: 71.66667%;
}
.fluidGridDemo .row .offset8:first-child {
  margin-left: 68.66667%;
}
.fluidGridDemo .row .column9 {
  width: 74.25%;
  max-width: 74.25%;
}
.fluidGridDemo .row img.column9.polaroid {
  width: 54.25%;
}
.fluidGridDemo .row .offset9 {
  margin-left: 80.25%;
}
.fluidGridDemo .row .offset9:first-child {
  margin-left: 77.25%;
}
.fluidGridDemo .row .column10 {
  width: 82.83333%;
  max-width: 82.83333%;
}
.fluidGridDemo .row img.column10.polaroid {
  width: 62.83333%;
}
.fluidGridDemo .row .offset10 {
  margin-left: 88.83333%;
}
.fluidGridDemo .row .offset10:first-child {
  margin-left: 85.83333%;
}
.fluidGridDemo .row .column11 {
  width: 91.41667%;
  max-width: 91.41667%;
}
.fluidGridDemo .row img.column11.polaroid {
  width: 71.41667%;
}
.fluidGridDemo .row .offset11 {
  margin-left: 97.41667%;
}
.fluidGridDemo .row .offset11:first-child {
  margin-left: 94.41667%;
}
.fluidGridDemo .row .column12 {
  width: 100%;
  max-width: 100%;
}
.fluidGridDemo .row img.column12.polaroid {
  width: 80%;
}
.fluidGridDemo .row .offset12 {
  margin-left: 106%;
}
.fluidGridDemo .row .offset12:first-child {
  margin-left: 103%;
}
.fluidGridDemo .container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.fluidGridDemo .row {
  margin-bottom: 1.5%;
  overflow: hidden;
  clear: both;
  zoom: 1;
}
@media (max-width: 1200px) {
  .fluidGridDemo .container {
    max-width: 97%;
    padding: 0 1.5%;
  }
}
@media (max-width: 767px) {
  .fluidGridDemo .container {
    max-width: 94%;
    padding: 0 3%;
  }
  .fluidGridDemo .row [class*='col'] {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
  }
  .fluidGridDemo .row [class*='offset'] {
    margin-left: 0 !important;
  }
}
.fluidGridDemo div[class*="col"] {
  background-color: #cccccc;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  *zoom: 1;
  *overflow: hidden;
  height: 40px;
  line-height: 40px;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
.fluidGridDemo div[class*="col"]:after {
  content: " ";
  display: table;
  clear: both;
  visibility: hidden;
}
.fluidGridDemo div[class*="col"]:hover {
  background-color: #999999;
  color: white;
}

.gridDemo .grid-row .column1 {
  width: 75px;
  max-width: 75px;
  margin-left: 25px;
  *margin-bottom: 25px;
}
.gridDemo .grid-row img.column1.polaroid {
  width: 55px;
}
.gridDemo .grid-row .offset1 {
  margin-left: 125px;
}
.gridDemo .grid-row .column2 {
  width: 175px;
  max-width: 175px;
  margin-left: 25px;
  *margin-bottom: 25px;
}
.gridDemo .grid-row img.column2.polaroid {
  width: 155px;
}
.gridDemo .grid-row .offset2 {
  margin-left: 225px;
}
.gridDemo .grid-row .column3 {
  width: 275px;
  max-width: 275px;
  margin-left: 25px;
  *margin-bottom: 25px;
}
.gridDemo .grid-row img.column3.polaroid {
  width: 255px;
}
.gridDemo .grid-row .offset3 {
  margin-left: 325px;
}
.gridDemo .grid-row .column4 {
  width: 375px;
  max-width: 375px;
  margin-left: 25px;
  *margin-bottom: 25px;
}
.gridDemo .grid-row img.column4.polaroid {
  width: 355px;
}
.gridDemo .grid-row .offset4 {
  margin-left: 425px;
}
.gridDemo .grid-row .column5 {
  width: 475px;
  max-width: 475px;
  margin-left: 25px;
  *margin-bottom: 25px;
}
.gridDemo .grid-row img.column5.polaroid {
  width: 455px;
}
.gridDemo .grid-row .offset5 {
  margin-left: 525px;
}
.gridDemo .grid-row .column6 {
  width: 575px;
  max-width: 575px;
  margin-left: 25px;
  *margin-bottom: 25px;
}
.gridDemo .grid-row img.column6.polaroid {
  width: 555px;
}
.gridDemo .grid-row .offset6 {
  margin-left: 625px;
}
.gridDemo .grid-row .column7 {
  width: 675px;
  max-width: 675px;
  margin-left: 25px;
  *margin-bottom: 25px;
}
.gridDemo .grid-row img.column7.polaroid {
  width: 655px;
}
.gridDemo .grid-row .offset7 {
  margin-left: 725px;
}
.gridDemo .grid-row .column8 {
  width: 775px;
  max-width: 775px;
  margin-left: 25px;
  *margin-bottom: 25px;
}
.gridDemo .grid-row img.column8.polaroid {
  width: 755px;
}
.gridDemo .grid-row .offset8 {
  margin-left: 825px;
}
.gridDemo .grid-row .column9 {
  width: 875px;
  max-width: 875px;
  margin-left: 25px;
  *margin-bottom: 25px;
}
.gridDemo .grid-row img.column9.polaroid {
  width: 855px;
}
.gridDemo .grid-row .offset9 {
  margin-left: 925px;
}
.gridDemo .grid-row .column10 {
  width: 975px;
  max-width: 975px;
  margin-left: 25px;
  *margin-bottom: 25px;
}
.gridDemo .grid-row img.column10.polaroid {
  width: 955px;
}
.gridDemo .grid-row .offset10 {
  margin-left: 1025px;
}
.gridDemo .grid-row .column11 {
  width: 1075px;
  max-width: 1075px;
  margin-left: 25px;
  *margin-bottom: 25px;
}
.gridDemo .grid-row img.column11.polaroid {
  width: 1055px;
}
.gridDemo .grid-row .offset11 {
  margin-left: 1125px;
}
.gridDemo .grid-row .column12 {
  width: 1175px;
  max-width: 1175px;
  margin-left: 25px;
  *margin-bottom: 25px;
}
.gridDemo .grid-row img.column12.polaroid {
  width: 1155px;
}
.gridDemo .grid-row .offset12 {
  margin-left: 1225px;
}
.gridDemo .grid-row {
  margin-left: -25px;
}
.gridDemo .grid-row [class*="column"] {
  float: left;
  min-height: 1px;
  min-height: 20px;
  margin-bottom: 8px;
  background: #cccccc;
  zoom: 1;
}
.gridDemo .grid-row input[class*="column"], .gridDemo .grid-row img[class*="column"] {
  float: none;
  margin-left: 0;
}
.gridDemo .grid-row img[class*="column"] {
  height: auto;
}
.gridDemo .container {
  width: 1175px;
  max-width: 100%;
  margin: 0 auto;
}
.gridDemo .grid-row {
  margin-bottom: 12.5px;
  clear: both;
  zoom: 1;
}
@media (max-width: 1200px) and (min-width: 960px) {
  .gridDemo .container {
    width: 935px;
  }
  .gridDemo .grid-row .column1 {
    width: 55px;
    max-width: 55px;
    margin-left: 25px;
    *margin-bottom: 25px;
  }
  .gridDemo .grid-row img.column1.polaroid {
    width: 35px;
  }
  .gridDemo .grid-row .offset1 {
    margin-left: 105px;
  }
  .gridDemo .grid-row .column2 {
    width: 135px;
    max-width: 135px;
    margin-left: 25px;
    *margin-bottom: 25px;
  }
  .gridDemo .grid-row img.column2.polaroid {
    width: 115px;
  }
  .gridDemo .grid-row .offset2 {
    margin-left: 185px;
  }
  .gridDemo .grid-row .column3 {
    width: 215px;
    max-width: 215px;
    margin-left: 25px;
    *margin-bottom: 25px;
  }
  .gridDemo .grid-row img.column3.polaroid {
    width: 195px;
  }
  .gridDemo .grid-row .offset3 {
    margin-left: 265px;
  }
  .gridDemo .grid-row .column4 {
    width: 295px;
    max-width: 295px;
    margin-left: 25px;
    *margin-bottom: 25px;
  }
  .gridDemo .grid-row img.column4.polaroid {
    width: 275px;
  }
  .gridDemo .grid-row .offset4 {
    margin-left: 345px;
  }
  .gridDemo .grid-row .column5 {
    width: 375px;
    max-width: 375px;
    margin-left: 25px;
    *margin-bottom: 25px;
  }
  .gridDemo .grid-row img.column5.polaroid {
    width: 355px;
  }
  .gridDemo .grid-row .offset5 {
    margin-left: 425px;
  }
  .gridDemo .grid-row .column6 {
    width: 455px;
    max-width: 455px;
    margin-left: 25px;
    *margin-bottom: 25px;
  }
  .gridDemo .grid-row img.column6.polaroid {
    width: 435px;
  }
  .gridDemo .grid-row .offset6 {
    margin-left: 505px;
  }
  .gridDemo .grid-row .column7 {
    width: 535px;
    max-width: 535px;
    margin-left: 25px;
    *margin-bottom: 25px;
  }
  .gridDemo .grid-row img.column7.polaroid {
    width: 515px;
  }
  .gridDemo .grid-row .offset7 {
    margin-left: 585px;
  }
  .gridDemo .grid-row .column8 {
    width: 615px;
    max-width: 615px;
    margin-left: 25px;
    *margin-bottom: 25px;
  }
  .gridDemo .grid-row img.column8.polaroid {
    width: 595px;
  }
  .gridDemo .grid-row .offset8 {
    margin-left: 665px;
  }
  .gridDemo .grid-row .column9 {
    width: 695px;
    max-width: 695px;
    margin-left: 25px;
    *margin-bottom: 25px;
  }
  .gridDemo .grid-row img.column9.polaroid {
    width: 675px;
  }
  .gridDemo .grid-row .offset9 {
    margin-left: 745px;
  }
  .gridDemo .grid-row .column10 {
    width: 775px;
    max-width: 775px;
    margin-left: 25px;
    *margin-bottom: 25px;
  }
  .gridDemo .grid-row img.column10.polaroid {
    width: 755px;
  }
  .gridDemo .grid-row .offset10 {
    margin-left: 825px;
  }
  .gridDemo .grid-row .column11 {
    width: 855px;
    max-width: 855px;
    margin-left: 25px;
    *margin-bottom: 25px;
  }
  .gridDemo .grid-row img.column11.polaroid {
    width: 835px;
  }
  .gridDemo .grid-row .offset11 {
    margin-left: 905px;
  }
  .gridDemo .grid-row .column12 {
    width: 935px;
    max-width: 935px;
    margin-left: 25px;
    *margin-bottom: 25px;
  }
  .gridDemo .grid-row img.column12.polaroid {
    width: 915px;
  }
  .gridDemo .grid-row .offset12 {
    margin-left: 985px;
  }
}
@media (max-width: 965px) and (min-width: 768px) {
  .gridDemo .container {
    width: 743px;
  }
  .gridDemo .grid-row .column1 {
    width: 39px;
    max-width: 39px;
    margin-left: 25px;
    *margin-bottom: 25px;
  }
  .gridDemo .grid-row img.column1.polaroid {
    width: 19px;
  }
  .gridDemo .grid-row .offset1 {
    margin-left: 89px;
  }
  .gridDemo .grid-row .column2 {
    width: 103px;
    max-width: 103px;
    margin-left: 25px;
    *margin-bottom: 25px;
  }
  .gridDemo .grid-row img.column2.polaroid {
    width: 83px;
  }
  .gridDemo .grid-row .offset2 {
    margin-left: 153px;
  }
  .gridDemo .grid-row .column3 {
    width: 167px;
    max-width: 167px;
    margin-left: 25px;
    *margin-bottom: 25px;
  }
  .gridDemo .grid-row img.column3.polaroid {
    width: 147px;
  }
  .gridDemo .grid-row .offset3 {
    margin-left: 217px;
  }
  .gridDemo .grid-row .column4 {
    width: 231px;
    max-width: 231px;
    margin-left: 25px;
    *margin-bottom: 25px;
  }
  .gridDemo .grid-row img.column4.polaroid {
    width: 211px;
  }
  .gridDemo .grid-row .offset4 {
    margin-left: 281px;
  }
  .gridDemo .grid-row .column5 {
    width: 295px;
    max-width: 295px;
    margin-left: 25px;
    *margin-bottom: 25px;
  }
  .gridDemo .grid-row img.column5.polaroid {
    width: 275px;
  }
  .gridDemo .grid-row .offset5 {
    margin-left: 345px;
  }
  .gridDemo .grid-row .column6 {
    width: 359px;
    max-width: 359px;
    margin-left: 25px;
    *margin-bottom: 25px;
  }
  .gridDemo .grid-row img.column6.polaroid {
    width: 339px;
  }
  .gridDemo .grid-row .offset6 {
    margin-left: 409px;
  }
  .gridDemo .grid-row .column7 {
    width: 423px;
    max-width: 423px;
    margin-left: 25px;
    *margin-bottom: 25px;
  }
  .gridDemo .grid-row img.column7.polaroid {
    width: 403px;
  }
  .gridDemo .grid-row .offset7 {
    margin-left: 473px;
  }
  .gridDemo .grid-row .column8 {
    width: 487px;
    max-width: 487px;
    margin-left: 25px;
    *margin-bottom: 25px;
  }
  .gridDemo .grid-row img.column8.polaroid {
    width: 467px;
  }
  .gridDemo .grid-row .offset8 {
    margin-left: 537px;
  }
  .gridDemo .grid-row .column9 {
    width: 551px;
    max-width: 551px;
    margin-left: 25px;
    *margin-bottom: 25px;
  }
  .gridDemo .grid-row img.column9.polaroid {
    width: 531px;
  }
  .gridDemo .grid-row .offset9 {
    margin-left: 601px;
  }
  .gridDemo .grid-row .column10 {
    width: 615px;
    max-width: 615px;
    margin-left: 25px;
    *margin-bottom: 25px;
  }
  .gridDemo .grid-row img.column10.polaroid {
    width: 595px;
  }
  .gridDemo .grid-row .offset10 {
    margin-left: 665px;
  }
  .gridDemo .grid-row .column11 {
    width: 679px;
    max-width: 679px;
    margin-left: 25px;
    *margin-bottom: 25px;
  }
  .gridDemo .grid-row img.column11.polaroid {
    width: 659px;
  }
  .gridDemo .grid-row .offset11 {
    margin-left: 729px;
  }
  .gridDemo .grid-row .column12 {
    width: 743px;
    max-width: 743px;
    margin-left: 25px;
    *margin-bottom: 25px;
  }
  .gridDemo .grid-row img.column12.polaroid {
    width: 723px;
  }
  .gridDemo .grid-row .offset12 {
    margin-left: 793px;
  }
}
@media (max-width: 767px) {
  .gridDemo .container {
    width: 96%;
    margin: 0 auto;
  }
  .gridDemo .grid-row {
    margin-left: 0;
  }
  .gridDemo .grid-row [class*='column'] {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
    float: none;
  }
  .gridDemo .grid-row [class*='offset'] {
    margin-left: 0 !important;
    float: none;
  }
}
.gridDemo .container {
  background-color: #eeeeee;
  padding: 8px 0 0 0;
}
.gridDemo div[class*="col"] {
  background-color: #cccccc;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  *zoom: 1;
  *overflow: hidden;
  height: 40px;
  line-height: 40px;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
.gridDemo div[class*="col"]:after {
  content: " ";
  display: table;
  clear: both;
  visibility: hidden;
}
.gridDemo div[class*="col"]:hover {
  background-color: #999999;
  color: white;
}
