<p class="mt-2 mb-0 small">卡斯伯提供的教學資源：</p>
<div class="row gx-2">
    <a class="col-4 d-block" href="https://hex.school/5cYlz" target="_blank">
        <img no-lazy src="/images/2021/vue3_實戰影音.jpg" style="max-width: 100%" alt="">
    </a>
    <a class="col-4 d-block" href="/about/hexschool-traning.html">
        <img no-lazy src="/images/2021/vue_作品實戰班.jpg" style="max-width: 100%" alt="">
    </a>
    <a class="col-4 d-block" href="https://hex.school/7ZLrm">
        <img no-lazy src="/images/2021/Bootstrap5_繁體中文文件.jpg" style="max-width: 100%" alt="">
    </a>
</div>
<div class="main-body-header">
    <h2 class="my-3">
    <%
        var title = page.title;
        if (page.archive) {
            title = __('index.archive');
            if (page.month) {
                title += ': ' + page.year + '/' + page.month;
            } else if (page.year) {
                title += ': ' + page.year;
            }
            title = '<i class="icon fa fa-archive"></i>' + title;
        } else if (page.category) {
            title = '<i class="icon fa fa-folder-open"></i>' + __('index.category') + ': <span class="page-title-link">' + page.category + '</span>';
        } else if (page.tag) {
            title = '<i class="icon fa fa-tag"></i>' + __('index.tag') + ': <span>' + page.tag + '</span>';
        } else if (is_post()) {
            title = list_categories(page.categories, {show_count: false, style: 'none', class: 'page-title', separator: '<i class="icon fa fa-angle-right"></i>'});
            if (title == "") {
                title = __('index.uncategorized');
            }
        } else if (is_home()) {
            title = '<span class="page-title-link" data-url="home">' + __('index.home') + '</span>';
        } else if (page.subtitle) {
            title = '<span class="page-title-link" data-url="' + url_for(page.path) + '">' + page.subtitle + '</span>';
        } else if (page.title) {
            title = '<span class="page-title-link" data-url="' + url_for(page.path) + '">' + page.title + '</span>';
        } else {
            title = config.title;
        }
    %>
    <% /* title */%>
    </h2>
</div>