<div class="sticky-top pt-3" style="top: 50px; z-index: 1000">
  <div class="text-center">
    <img
      src="/images/2021/avatar.png"
      height="115"
      width="115"
      class="img-fluid mb-2"
      alt=""
    />
    <p>設計師轉職前端工程師，擅長將複雜觀念用圖形化方式呈現</p>
    <a
      href="https://www.facebook.com/WccCasper"
      target="_blank"
      class="btn btn-outline-primary btn-sm rounded-pill"
      ><i class="bi bi-facebook"></i> 追蹤卡斯伯</a
    >
    <a href="#comments" class="btn btn-outline-primary btn-sm rounded-pill"
      ><i class="bi bi-chat-text"></i
    ></a>
  </div>
  <hr>
  <div class="toc-component">
    <%- toc(page.content, {
      list_number: false,
      class: 'toc',
      max_depth: 3
    }) %>
  </div>
  <% if (theme.facebook_like_btn ){ %>
    <hr />
    <div class="d-flex justify-content-center">
      <div
        class="fb-like"
        data-layout="box_count"
        data-action="like"
        data-size="large"
        data-share="true"
      ></div>
    </div>
    <div class="text-center mt-2 text-black-50">
      按讚，就是最大的支持
    </div>
    <% } %>
</div>
