<%- partial('comment/scripts') %>
<%- partial('plugin/scripts') %>

<!-- Custom Scripts -->
<%/* js('js/main') */%>
<%- js('js/bs-layout-functions') %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.8&appId=760173380749493";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<% if (theme.google_adsense) { %>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<% } %>
