<%- partial('comment/scripts') %>

<!-- Custom Scripts -->
<%/* js('js/main') */%>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<%- js('js/bs-layout-functions') %>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v11.0&appId=556473851118881&autoLogAppEvents=1" nonce="drs0t5ih"></script>


<% if (theme.google_adsense) { %>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
  window.onload = () => {
    $(function() {
      if(!$('ins[class="adsbygoogle"]').data('adsbygoogleStatus')) {
        console.log('(╭(°A°`)╮)) 拜託，別擋這個頁面的廣告，不然我一毛錢都沒得賺惹');
        $('.adsense-message').css('display', 'block');
      }
    })
  }
  </script>
<% } %>

<%- partial('plugin/toc') %>
