<% if (page.comments !== false && theme.comment && theme.comment.facebook && theme.comment.facebook.enable) { %>
<section id="comments">
  <div class="fb-comments" data-href="<%= page.permalink %>" data-width="100%" data-numposts="5" data-order-by="reverse_time"></div>
</section>
<% } %>
