<% if (theme.google_adsense && theme.google_adsense.enable && theme.google_adsense.client && theme.google_adsense.slot_rwd) { %>
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="<%= theme.google_adsense.client %>"
       data-ad-slot="<%= theme.google_adsense.slot_rwd %>"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
<% } else { %>
  <div class="ad">廣告版位<br>Google AdSense</div>
<% } %>
