@charset "utf-8";
@font-face {
  font-family: "LigatureSymbols";
  src: url('/stylesheets/fonts/normal');
  src: url('/stylesheets/fonts/normal?#iefix') format('eot'), url('/stylesheets/fonts/LigatureSymbols-2.05.eot') format('embedded-opentype'), url('/stylesheets/fonts/LigatureSymbols-2.05.ttf') format('truetype'), url('/stylesheets/fonts/LigatureSymbols-2.05.woff') format('woff'), url('/stylesheets/fonts/LigatureSymbols-2.05.svg#LigatureSymbols') format('svg');
  font-weight: normal;
}

.lsf {
  font-family: "LigatureSymbols";
  font-size: 300%;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
}

.menubox {
  background: #555555;
  text-align: center;
}
.menubox input[type="checkbox"] {
  display: none;
}
.menubox input[type="checkbox"]:checked + label span {
  background: transparent;
}
.menubox input[type="checkbox"]:checked + label:after {
  -webkit-transform: rotate(50deg) translateY(10px) translateX(12.5px);
  -moz-transform: rotate(50deg) translateY(10px) translateX(12.5px);
  -ms-transform: rotate(50deg) translateY(10px) translateX(12.5px);
  -o-transform: rotate(50deg) translateY(10px) translateX(12.5px);
  transform: rotate(50deg) translateY(10px) translateX(12.5px);
}
.menubox input[type="checkbox"]:checked + label:before {
  -webkit-transform: rotate(-50deg) translateY(-10px) translateX(12.5px);
  -moz-transform: rotate(-50deg) translateY(-10px) translateX(12.5px);
  -ms-transform: rotate(-50deg) translateY(-10px) translateX(12.5px);
  -o-transform: rotate(-50deg) translateY(-10px) translateX(12.5px);
  transform: rotate(-50deg) translateY(-10px) translateX(12.5px);
}
.menubox label {
  display: inline-block;
  width: 50px;
  height: 33.33333px;
  margin: 25px auto;
  cursor: pointer;
  position: relative;
  background: bottom;
}
.menubox label span {
  display: inline-block;
  height: 2px;
  width: 50px;
  line-height: 33.33333px;
  background: white;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}
.menubox label:after, .menubox label:before {
  content: " ";
  height: 2px;
  width: 50px;
  background: white;
  position: absolute;
  left: 0;
}
.menubox label:after {
  top: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0% 50% 50%;
  -moz-transform-origin: 0% 50% 50%;
  -ms-transform-origin: 0% 50% 50%;
  -o-transform-origin: 0% 50% 50%;
  transform-origin: 0% 50% 50%;
}
.menubox label:before {
  bottom: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

@-webkit-keyframes clockRotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.clocks {
  text-align: center;
}
.clocks .clock {
  display: inline-block;
  background: #c45575;
  position: relative;
  height: 200px;
  width: 200px;
  border: #a64863 5px solid;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.clocks .clock div {
  width: 8px;
  position: absolute;
}
.clocks .hours {
  background: #edb95b;
  height: 80px;
  top: 40px;
  left: 96px;
  -webkit-transform-origin: 50% 60px;
  -moz-transform-origin: 50% 60px;
  -ms-transform-origin: 50% 60px;
  -o-transform-origin: 50% 60px;
  transform-origin: 50% 60px;
  -webkit-animation: clockRotate 72s infinite linear;
}
.clocks .minutes {
  background: #676bed;
  height: 100px;
  top: 20px;
  left: 96px;
  -webkit-transform-origin: 50% 80px;
  -moz-transform-origin: 50% 80px;
  -ms-transform-origin: 50% 80px;
  -o-transform-origin: 50% 80px;
  transform-origin: 50% 80px;
  -webkit-animation: clockRotate 6s infinite linear;
}
.clocks .seconds {
  background: #f78c5f;
  height: 120px;
  top: 0px;
  left: 96px;
  -webkit-transform-origin: 50% 100px;
  -moz-transform-origin: 50% 100px;
  -ms-transform-origin: 50% 100px;
  -o-transform-origin: 50% 100px;
  transform-origin: 50% 100px;
  -webkit-animation: clockRotate 1s infinite linear;
}

.webfont {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}
.webfont .demo1, .webfont .demo2, .webfont .demo3, .webfont .demo4, .webfont .demo5, .webfont .demo6 {
  line-height: 120px;
  height: 120px;
}
.webfont .demo1 {
  font-size: 50px;
}
.webfont .demo2 {
  font-size: 50px;
  color: #00acee;
}
.webfont .demo3 {
  font-size: 50px;
  font-style: italic;
  color: #00acee;
}
.webfont .demo4 {
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.webfont .demo5 {
  background: gray;
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px 0 #dddddd, 2px 2px 0 gainsboro, 3px 3px 0 #dadada, 4px 4px 0 #d9d9d9, 5px 5px 0 #d7d7d7, 6px 6px 0 #d5d5d5, 7px 7px 0 #d4d4d4, 8px 8px 0 #d2d2d2, 9px 9px 0 #d1d1d1, 10px 10px 0 #cfcfcf, 11px 11px 0 #cdcdcd, 12px 12px 0 #cccccc, 13px 13px 0 #cacaca, 14px 14px 0 #c9c9c9, 15px 15px 0 #c7c7c7, 16px 16px 1px rgba(0, 0, 0, 0.3), 17px 17px 10px rgba(0, 0, 0, 0.6);
}
.webfont .demo6 {
  font-size: 40px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #00acee;
}
.webfont .demo6:hover {
  font-size: 50px;
}

@font-face {
  font-family: "drangon";
  src: url('/stylesheets/fonts/normal');
  src: url('/stylesheets/fonts/normal?#iefix') format('eot'), url('/stylesheets/fonts/icomoon.eot') format('embedded-opentype'), url('/stylesheets/fonts/icomoon.ttf') format('truetype'), url('/stylesheets/fonts/icomoon.woff') format('woff'), url('/stylesheets/fonts/icomoon.svg') format('svg');
  font-weight: normal;
}

.drangon-icon {
  font-family: "drangon";
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

[data-drangon]:before {
  font-family: "drangon";
  content: attr(data-drangon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.drangon-icon-drangonball {
  font-family: "drangon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.drangon-icon-drangonball:before {
  content: "\67";
}

@-webkit-keyframes ifinityCircles {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes ifinityCircles {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes ifinityCircles {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes ifinityCircles {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateY {
  from {
    -webkit-transform: rotateX(-90deg) rotateY(0);
    -moz-transform: rotateX(-90deg) rotateY(0);
    -ms-transform: rotateX(-90deg) rotateY(0);
    -o-transform: rotateX(-90deg) rotateY(0);
    transform: rotateX(-90deg) rotateY(0);
  }

  to {
    -webkit-transform: rotateX(-90deg) rotateY(360deg);
    -moz-transform: rotateX(-90deg) rotateY(360deg);
    -ms-transform: rotateX(-90deg) rotateY(360deg);
    -o-transform: rotateX(-90deg) rotateY(360deg);
    transform: rotateX(-90deg) rotateY(360deg);
  }
}

@-moz-keyframes rotateY {
  from {
    -webkit-transform: rotateX(-90deg) rotateY(0);
    -moz-transform: rotateX(-90deg) rotateY(0);
    -ms-transform: rotateX(-90deg) rotateY(0);
    -o-transform: rotateX(-90deg) rotateY(0);
    transform: rotateX(-90deg) rotateY(0);
  }

  to {
    -webkit-transform: rotateX(-90deg) rotateY(360deg);
    -moz-transform: rotateX(-90deg) rotateY(360deg);
    -ms-transform: rotateX(-90deg) rotateY(360deg);
    -o-transform: rotateX(-90deg) rotateY(360deg);
    transform: rotateX(-90deg) rotateY(360deg);
  }
}

@-ms-keyframes rotateY {
  from {
    -webkit-transform: rotateX(-90deg) rotateY(0);
    -moz-transform: rotateX(-90deg) rotateY(0);
    -ms-transform: rotateX(-90deg) rotateY(0);
    -o-transform: rotateX(-90deg) rotateY(0);
    transform: rotateX(-90deg) rotateY(0);
  }

  to {
    -webkit-transform: rotateX(-90deg) rotateY(360deg);
    -moz-transform: rotateX(-90deg) rotateY(360deg);
    -ms-transform: rotateX(-90deg) rotateY(360deg);
    -o-transform: rotateX(-90deg) rotateY(360deg);
    transform: rotateX(-90deg) rotateY(360deg);
  }
}

@keyframes rotateY {
  from {
    -webkit-transform: rotateX(-90deg) rotateY(0);
    -moz-transform: rotateX(-90deg) rotateY(0);
    -ms-transform: rotateX(-90deg) rotateY(0);
    -o-transform: rotateX(-90deg) rotateY(0);
    transform: rotateX(-90deg) rotateY(0);
  }

  to {
    -webkit-transform: rotateX(-90deg) rotateY(360deg);
    -moz-transform: rotateX(-90deg) rotateY(360deg);
    -ms-transform: rotateX(-90deg) rotateY(360deg);
    -o-transform: rotateX(-90deg) rotateY(360deg);
    transform: rotateX(-90deg) rotateY(360deg);
  }
}

.galaxy, .solar-system {
  height: 100%;
  width: 100%;
}

.solar-system, .mercury, .venus, .earth, .mars, .jupiter, .saturnus, .uranus, .neptunus {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.galaxy {
  -webkit-perspective-origin: 20% -20%;
  -moz-perspective-origin: 20% -20%;
  -ms-perspective-origin: 20% -20%;
  -o-perspective-origin: 20% -20%;
  perspective-origin: 20% -20%;
  -webkit-perspective: 4000px;
  -moz-perspective: 4000px;
  -ms-perspective: 4000px;
  -o-perspective: 4000px;
  perspective: 4000px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.solar-system {
  font-size: 20px;
  -webkit-transform: rotateX(90deg) rotateY(10deg);
  -moz-transform: rotateX(90deg) rotateY(10deg);
  -ms-transform: rotateX(90deg) rotateY(10deg);
  -o-transform: rotateX(90deg) rotateY(10deg);
  transform: rotateX(90deg) rotateY(10deg);
  position: relative;
}

.mercury .planet, .venus .planet, .earth .planet, .mars .planet, .jupiter .planet, .saturnus .planet, .uranus .planet, .neptunus .planet, .saturnus-rings {
  width: 0.25em;
  height: 0.25em;
  margin: 0 auto;
  margin-top: -0.125em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.mercury, .venus, .earth, .mars, .jupiter, .saturnus, .uranus, .neptunus {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: border-color 0.5s;
  -moz-transition: border-color 0.5s;
  -o-transition: border-color 0.5s;
  transition: border-color 0.5s;
}

.sun {
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  font-size: 24em;
  width: 0.35em;
  height: 0.35em;
  margin-left: -0.175em;
  margin-top: -0.175em;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  background: -webkit-gradient(radial, 35% 15%, 0, 35% 15%, 100, color-stop(0%, #ffffff), color-stop(50%, #ffeab6), color-stop(100%, #e86e00));
  background: -webkit-radial-gradient(35% 15%, circle, #ffffff, #ffeab6, #e86e00);
  background: -moz-radial-gradient(35% 15%, circle, #ffffff, #ffeab6, #e86e00);
  background: -o-radial-gradient(35% 15%, circle, #ffffff, #ffeab6, #e86e00);
  background: radial-gradient(35% 15%, circle, #ffffff, #ffeab6, #e86e00);
  -webkit-box-shadow: 0 0 50px #e86e00, 0 0 8px red;
  -moz-box-shadow: 0 0 50px #e86e00, 0 0 8px red;
  box-shadow: 0 0 50px #e86e00, 0 0 8px red;
}

.mercury {
  width: 8.6em;
  height: 8.6em;
  margin-top: -4.3em;
  margin-left: -4.3em;
  -webkit-animation: ifinityCircles 11s infinite linear;
  -moz-animation: ifinityCircles 11s infinite linear;
  -o-animation: ifinityCircles 11s infinite linear;
  animation: ifinityCircles 11s infinite linear;
}
.mercury .planet {
  font-size: 0.6em;
  -webkit-animation: rotateY 11s infinite linear;
  -moz-animation: rotateY 11s infinite linear;
  -o-animation: rotateY 11s infinite linear;
  animation: rotateY 11s infinite linear;
  background: -webkit-gradient(radial, 35% 15%, 0, 35% 15%, 100, color-stop(0%, #ffffff), color-stop(50%, #cccccc), color-stop(100%, #555555));
  background: -webkit-radial-gradient(35% 15%, circle, #ffffff, #cccccc, #555555);
  background: -moz-radial-gradient(35% 15%, circle, #ffffff, #cccccc, #555555);
  background: -o-radial-gradient(35% 15%, circle, #ffffff, #cccccc, #555555);
  background: radial-gradient(35% 15%, circle, #ffffff, #cccccc, #555555);
}

.venus {
  width: 11.2em;
  height: 11.2em;
  margin-top: -5.6em;
  margin-left: -5.6em;
  -webkit-animation: ifinityCircles 22s infinite linear;
  -moz-animation: ifinityCircles 22s infinite linear;
  -o-animation: ifinityCircles 22s infinite linear;
  animation: ifinityCircles 22s infinite linear;
}
.venus .planet {
  font-size: 1.8em;
  -webkit-animation: rotateY 22s infinite linear;
  -moz-animation: rotateY 22s infinite linear;
  -o-animation: rotateY 22s infinite linear;
  animation: rotateY 22s infinite linear;
  background: -webkit-gradient(radial, 35% 15%, 0, 35% 15%, 100, color-stop(0%, #dcd7d3), color-stop(50%, #817c68), color-stop(100%, #514c38));
  background: -webkit-radial-gradient(35% 15%, circle, #dcd7d3, #817c68, #514c38);
  background: -moz-radial-gradient(35% 15%, circle, #dcd7d3, #817c68, #514c38);
  background: -o-radial-gradient(35% 15%, circle, #dcd7d3, #817c68, #514c38);
  background: radial-gradient(35% 15%, circle, #dcd7d3, #817c68, #514c38);
}

.earth {
  width: 14em;
  height: 14em;
  margin-top: -7em;
  margin-left: -7em;
  -webkit-animation: ifinityCircles 36.5s infinite linear;
  -moz-animation: ifinityCircles 36.5s infinite linear;
  -o-animation: ifinityCircles 36.5s infinite linear;
  animation: ifinityCircles 36.5s infinite linear;
}
.earth .planet {
  font-size: 2em;
  -webkit-animation: rotateY 36.5s infinite linear;
  -moz-animation: rotateY 36.5s infinite linear;
  -o-animation: rotateY 36.5s infinite linear;
  animation: rotateY 36.5s infinite linear;
  background: -webkit-gradient(radial, 35% 15%, 0, 35% 15%, 100, color-stop(0%, #5a9cf7), color-stop(50%, #467ac2), color-stop(100%, #203859));
  background: -webkit-radial-gradient(35% 15%, circle, #5a9cf7, #467ac2, #203859);
  background: -moz-radial-gradient(35% 15%, circle, #5a9cf7, #467ac2, #203859);
  background: -o-radial-gradient(35% 15%, circle, #5a9cf7, #467ac2, #203859);
  background: radial-gradient(35% 15%, circle, #5a9cf7, #467ac2, #203859);
}

.mars {
  width: 19.2em;
  height: 19.2em;
  margin-top: -9.6em;
  margin-left: -9.6em;
  -webkit-animation: ifinityCircles 72s infinite linear;
  -moz-animation: ifinityCircles 72s infinite linear;
  -o-animation: ifinityCircles 72s infinite linear;
  animation: ifinityCircles 72s infinite linear;
}
.mars .planet {
  font-size: 1.2em;
  -webkit-animation: rotateY 72s infinite linear;
  -moz-animation: rotateY 72s infinite linear;
  -o-animation: rotateY 72s infinite linear;
  animation: rotateY 72s infinite linear;
  background: -webkit-gradient(radial, 35% 15%, 0, 35% 15%, 100, color-stop(0%, #feb15f), color-stop(50%, #fe6a44), color-stop(100%, #913d27));
  background: -webkit-radial-gradient(35% 15%, circle, #feb15f, #fe6a44, #913d27);
  background: -moz-radial-gradient(35% 15%, circle, #feb15f, #fe6a44, #913d27);
  background: -o-radial-gradient(35% 15%, circle, #feb15f, #fe6a44, #913d27);
  background: radial-gradient(35% 15%, circle, #feb15f, #fe6a44, #913d27);
}

.jupiter {
  width: 23.5em;
  height: 23.5em;
  margin-top: -11.75em;
  margin-left: -11.75em;
  -webkit-animation: ifinityCircles 433.1s infinite linear;
  -moz-animation: ifinityCircles 433.1s infinite linear;
  -o-animation: ifinityCircles 433.1s infinite linear;
  animation: ifinityCircles 433.1s infinite linear;
}
.jupiter .planet {
  font-size: 8.5em;
  -webkit-animation: rotateY 433.1s infinite linear;
  -moz-animation: rotateY 433.1s infinite linear;
  -o-animation: rotateY 433.1s infinite linear;
  animation: rotateY 433.1s infinite linear;
  background: -webkit-gradient(radial, 35% 15%, 0, 35% 15%, 100, color-stop(0%, #eeeeee), color-stop(50%, #feb15f), color-stop(100%, #ba8246));
  background: -webkit-radial-gradient(35% 15%, circle, #eeeeee, #feb15f, #ba8246);
  background: -moz-radial-gradient(35% 15%, circle, #eeeeee, #feb15f, #ba8246);
  background: -o-radial-gradient(35% 15%, circle, #eeeeee, #feb15f, #ba8246);
  background: radial-gradient(35% 15%, circle, #eeeeee, #feb15f, #ba8246);
}

.saturnus {
  width: 33.6em;
  height: 33.6em;
  margin-top: -16.8em;
  margin-left: -16.8em;
  -webkit-animation: ifinityCircles 1083.2s infinite linear;
  -moz-animation: ifinityCircles 1083.2s infinite linear;
  -o-animation: ifinityCircles 1083.2s infinite linear;
  animation: ifinityCircles 1083.2s infinite linear;
}
.saturnus .planet {
  font-size: 4em;
  -webkit-animation: rotateY 1083.2s infinite linear;
  -moz-animation: rotateY 1083.2s infinite linear;
  -o-animation: rotateY 1083.2s infinite linear;
  animation: rotateY 1083.2s infinite linear;
  background: -webkit-gradient(radial, 35% 15%, 0, 35% 15%, 100, color-stop(0%, #e9d3aa), color-stop(50%, #a8987b), color-stop(100%, #786554));
  background: -webkit-radial-gradient(35% 15%, circle, #e9d3aa, #a8987b, #786554);
  background: -moz-radial-gradient(35% 15%, circle, #e9d3aa, #a8987b, #786554);
  background: -o-radial-gradient(35% 15%, circle, #e9d3aa, #a8987b, #786554);
  background: radial-gradient(35% 15%, circle, #e9d3aa, #a8987b, #786554);
}

.uranus {
  width: 44em;
  height: 44em;
  margin-top: -22em;
  margin-left: -22em;
  -webkit-animation: ifinityCircles 3079.9s infinite linear;
  -moz-animation: ifinityCircles 3079.9s infinite linear;
  -o-animation: ifinityCircles 3079.9s infinite linear;
  animation: ifinityCircles 3079.9s infinite linear;
}
.uranus .planet {
  font-size: 1.2em;
  -webkit-animation: rotateY 3079.9s infinite linear;
  -moz-animation: rotateY 3079.9s infinite linear;
  -o-animation: rotateY 3079.9s infinite linear;
  animation: rotateY 3079.9s infinite linear;
  background: -webkit-gradient(radial, 35% 15%, 0, 35% 15%, 100, color-stop(0%, #c5ebf5), color-stop(50%, #7cb7d1), color-stop(100%, #5c7e9c));
  background: -webkit-radial-gradient(35% 15%, circle, #c5ebf5, #7cb7d1, #5c7e9c);
  background: -moz-radial-gradient(35% 15%, circle, #c5ebf5, #7cb7d1, #5c7e9c);
  background: -o-radial-gradient(35% 15%, circle, #c5ebf5, #7cb7d1, #5c7e9c);
  background: radial-gradient(35% 15%, circle, #c5ebf5, #7cb7d1, #5c7e9c);
}

.neptunus {
  width: 49em;
  height: 49em;
  margin-top: -24.5em;
  margin-left: -24.5em;
  -webkit-animation: ifinityCircles 6032.7s infinite linear;
  -moz-animation: ifinityCircles 6032.7s infinite linear;
  -o-animation: ifinityCircles 6032.7s infinite linear;
  animation: ifinityCircles 6032.7s infinite linear;
}
.neptunus .planet {
  font-size: 1.3em;
  -webkit-animation: rotateY 6032.7s infinite linear;
  -moz-animation: rotateY 6032.7s infinite linear;
  -o-animation: rotateY 6032.7s infinite linear;
  animation: rotateY 6032.7s infinite linear;
  background: -webkit-gradient(radial, 35% 15%, 0, 35% 15%, 100, color-stop(0%, #558be0), color-stop(50%, #3b61b8), color-stop(100%, #273f78));
  background: -webkit-radial-gradient(35% 15%, circle, #558be0, #3b61b8, #273f78);
  background: -moz-radial-gradient(35% 15%, circle, #558be0, #3b61b8, #273f78);
  background: -o-radial-gradient(35% 15%, circle, #558be0, #3b61b8, #273f78);
  background: radial-gradient(35% 15%, circle, #558be0, #3b61b8, #273f78);
}

.saturnus-rings {
  font-size: 125px;
  border: 40px #a8987b solid;
  position: absolute;
  left: -50%;
  top: 50%;
  -webkit-transform: rotateX(85deg);
  -moz-transform: rotateX(85deg);
  -ms-transform: rotateX(85deg);
  -o-transform: rotateX(85deg);
  transform: rotateX(85deg);
}
