@charset "UTF-8";
@-webkit-keyframes infinite-rotate {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes infinite-rotate {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes infinite-rotate {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes infinite-rotate {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.d0214 .btn-default, .d0214 .demo-btn, .d0214 .demo-btn.Validation, .d0214 .demo-btn.Error, .d0214 .demo-btn.Warning, .d0214 .demo-btn.Information {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;
  padding: 0.3em 1em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: inset 0 0.1em 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 0.1em 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0.1em 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  color: white;
}
.d0214 .btn-default:hover, .d0214 .demo-btn:hover {
  -moz-box-shadow: inset 0 0.1em 0.3em rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 0.1em 0.3em rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0.1em 0.3em rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
  color: white;
}
.d0214 .btn-default:focus, .d0214 .demo-btn:focus, .d0214 .btn-default:active, .d0214 .demo-btn:active, .d0214 .current.btn-default, .d0214 .current.demo-btn {
  -moz-box-shadow: inset 0 0.1em 0.6em rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 0.1em 0.6em rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0.1em 0.6em rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.d0214 .btn-default {
  border: 1px solid #0064a6;
  background-color: #0e7fcb;
  margin: 1px;
}
.d0214 .btn-default:hover, .d0214 .btn-default.current {
  background-color: #0064a6;
}
.d0214 .demo-btn {
  border: 1px solid #0064a6;
  background-color: #0e7fcb;
  margin: 1px;
}
.d0214 .demo-btn:hover, .d0214 .demo-btn.current {
  background-color: #0064a6;
}
.d0214 .demo-btn.Validation {
  border: 1px solid #33ae33;
  background-color: #5aba5a;
  margin: 1px;
}
.d0214 .demo-btn.Validation:hover, .d0214 .demo-btn.Validation.current {
  background-color: #33ae33;
}
.d0214 .demo-btn.Error {
  border: 1px solid #dc1f19;
  background-color: #db514d;
  margin: 1px;
}
.d0214 .demo-btn.Error:hover, .d0214 .demo-btn.Error.current {
  background-color: #dc1f19;
}
.d0214 .demo-btn.Warning {
  border: 1px solid #fe9a0d;
  background-color: #f2ad4c;
  margin: 1px;
}
.d0214 .demo-btn.Warning:hover, .d0214 .demo-btn.Warning.current {
  background-color: #fe9a0d;
}
.d0214 .demo-btn.Information {
  border: 1px solid #1ebae8;
  background-color: #59c1e0;
  margin: 1px;
}
.d0214 .demo-btn.Information:hover, .d0214 .demo-btn.Information.current {
  background-color: #1ebae8;
}

@font-face {
  font-family: custom-Heiti;
  src: local(Heiti TC), local("微軟正黑體"), local("Microsoft JhengHei");
}
@font-face {
  font-family: custom-sans-serif;
  src: local(Heiti TC), local("微軟正黑體"), local("Microsoft JhengHei");
  unicode-range: U+4E00-9FFF;
}
@font-face {
  font-family: custom-serif;
  src: local(LiSong Pro), local("新細明體"), local("PMingLiU");
  unicode-range: U+4E00-9FFF;
}
@font-face {
  font-family: custom-Iam;
  src: local(Heiti TC), local("微軟正黑體"), local("Microsoft JhengHei");
  unicode-range: U+6211;
}
@font-face {
  font-family: custom-sans-serif;
  src: local(Segoe UI), local(Verdana);
  unicode-range: U+00-024F;
}
@font-face {
  font-family: custom-serif;
  src: local(Times), local(Times New Roman);
  unicode-range: U+00-024F;
}
.d0218 {
  font-size: 2em;
  font-family: "LiSong Pro", "新細明體", serif;
}
.d0218 .custom-Iam {
  font-family: custom-Iam;
}
.d0218 .custom-Heiti {
  font-family: custom-Heiti;
}
.d0218 .custom-serif {
  font-family: custom-serif;
}
.d0218 .custom-sans-serif {
  font-family: custom-sans-serif;
}

.icons1-sprite, .icons1-mobile, .icons1-nice, .icons1-phone, .icons1-setting {
  background-image: url('/images/icons1-s0e87280079.png');
  background-repeat: no-repeat;
}

.icons1-mobile {
  background-position: 0 0;
  height: 49px;
  width: 30px;
}

.icons1-nice {
  background-position: 0 -52px;
  height: 50px;
  width: 44px;
}

.icons1-phone {
  background-position: 0 -105px;
  height: 40px;
  width: 40px;
}

.icons1-setting {
  background-position: 0 -148px;
  height: 44px;
  width: 47px;
}

.icons-sprite, .icons-mobile, .icons-nice, .icons-phone, .icons-setting {
  background-image: url('/images/icons-sacadfe5086.png');
  background-repeat: no-repeat;
}

.icons-mobile {
  background-position: 0 0;
  height: 49px;
  width: 30px;
}

.icons-nice {
  background-position: 0 -53px;
  height: 50px;
  width: 44px;
}

.icons-phone {
  background-position: 0 -107px;
  height: 40px;
  width: 40px;
}

.icons-setting {
  background-position: 0 -151px;
  height: 44px;
  width: 47px;
}

.icons2x-sprite, .icons2x-mobile, .icons2x-nice, .icons2x-phone, .icons2x-setting {
  background-image: url('/images/icons2x-sa106106d92.png');
  background-repeat: no-repeat;
}

.icons2x-mobile {
  background-position: 0 0;
  height: 98px;
  width: 59px;
}

.icons2x-nice {
  background-position: 0 -102px;
  height: 99px;
  width: 87px;
}

.icons2x-phone {
  background-position: 0 -205px;
  height: 79px;
  width: 79px;
}

.icons2x-setting {
  background-position: 0 -288px;
  height: 87px;
  width: 93px;
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .icons-all-retina-sprites, .icons-mobile, .icons-nice, .icons-phone, .icons-setting {
    background-image: url('/images/icons2x-sa106106d92.png');
    -moz-background-size: 47px auto;
    -o-background-size: 47px auto;
    -webkit-background-size: 47px auto;
    background-size: 47px auto;
  }

  .icons-mobile {
    background-position: 0 0;
  }

  .icons-nice {
    background-position: 0 -51px;
  }

  .icons-phone {
    background-position: 0 -102.5px;
  }

  .icons-setting {
    background-position: 0 -144px;
  }
}
.d0311 [class*="icons"] {
  display: inline-block;
}

.drop-menu {
  max-width: 300px;
}
.drop-menu label {
  display: block;
  border: 1px solid #cccccc;
  padding: 6px;
  cursor: pointer;
}
.drop-menu input {
  display: none;
}
.drop-menu .menu-list {
  background-color: white;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  max-height: 0;
  -moz-transition: max-height 0.3s;
  -o-transition: max-height 0.3s;
  -webkit-transition: max-height 0.3s;
  transition: max-height 0.3s;
}
.drop-menu .menu-list a {
  display: block;
  padding: 4px;
  border-bottom: 1px dashed #cccccc;
}
.drop-menu input:checked + .menu-list {
  max-height: 300px;
}

.d0524 .anti-☢ {
  color: orange;
}
.d0524 .☯-power {
  color: white;
  text-shadow: 0 0 3px black;
}
.d0524.vertical {
  height: 200px;
  border: orange 1px solid;
}
.d0524.vertical:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 100%;
}
.d0524.vertical div {
  display: inline-block;
}

.d0605 svg {
  stroke-width: 1px;
  stroke: url(#myGradient);
  fill: none;
  -moz-transition: stroke-width 0.5s;
  -o-transition: stroke-width 0.5s;
  -webkit-transition: stroke-width 0.5s;
  transition: stroke-width 0.5s;
}
.d0605 svg:hover {
  stroke-width: 4px;
  -webkit-animation: infinite-rotate 1s infinite linear;
  -moz-animation: infinite-rotate 1s infinite linear;
  -o-animation: infinite-rotate 1s infinite linear;
  animation: infinite-rotate 1s infinite linear;
}

.d0615 svg {
  width: 100%;
  stroke: black;
  stroke-width: 1px;
  fill: none;
}
.d0615 line {
  stroke-dasharray: 60;
}
.d0615 line.l2 {
  stroke-dashoffset: 40;
}
.d0615 line.l3 {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}
.d0615 .stroke {
  stroke-dashoffset: 2000;
  stroke-dasharray: 2000;
}
.d0615 .stroke circle:nth-child(2n) {
  -moz-transform-origin: center 50%;
  -ms-transform-origin: center 50%;
  -webkit-transform-origin: center 50%;
  transform-origin: center 50%;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.d0615 .ani {
  -webkit-animation: circle-draw 10s linear infinite;
  -moz-animation: circle-draw 10s linear infinite;
  -o-animation: circle-draw 10s linear infinite;
  animation: circle-draw 10s linear infinite;
}

@-webkit-keyframes circle-draw {
  80% {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes circle-draw {
  80% {
    stroke-dashoffset: 0;
  }
}
@-ms-keyframes circle-draw {
  80% {
    stroke-dashoffset: 0;
  }
}
@keyframes circle-draw {
  80% {
    stroke-dashoffset: 0;
  }
}
.d0622 .bar {
  display: inline-block;
  width: 20px;
  height: 75px;
  margin-right: 3px;
  background-color: teal;
}
