@-webkit-keyframes infinite-rotate {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes infinite-rotate {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes infinite-rotate {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes infinite-rotate {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.d0113 .img-responsive {
  display: block;
  width: 100%;
}
.d0113 .img-responsive-fire {
  background-size: contain;
  backgroubd-repeat: no-repeat;
  padding-bottom: 42%;
}
.d0113 .green {
  color: green;
}
.d0113 > .green.blue {
  color: blue;
}
.d0113 #orange {
  color: orange;
}
.d0113 .red.red.red.red.red.red.red.red.red.red.red.red {
  color: red;
}
.d0113:has(> button) {
  background: red;
}
@supports (-webkit-transition: all) {
  .d0113 .supports {
    color: red;
  }
  .d0113 .supports:after {
    content: "-webkit-";
  }
}
@supports (-moz-transition: all) {
  .d0113 .supports {
    color: blue;
  }
  .d0113 .supports:after {
    content: "-moz-";
  }
}

.d0116.case1 .table, .d0116.case2 .flex-wrap, .d0116.case3 .box-wrap, .d0116.case4 .box-wrap, .d0116.case5 .box-wrap {
  height: 350px;
}
.d0116 .naruto {
  background-image: url('/images/narutoR.png?1372854973');
  background-color: orange;
  background-repeat: no-repeat;
  width: 107px;
  height: 207px;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.d0116.case1 .table {
  display: table;
  width: 100%;
}
.d0116.case1 .table-cell {
  display: table-cell;
  vertical-align: middle;
}
.d0116.case1 .naruto {
  margin: 0 auto;
}
.d0116.case2 .flex-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.d0116.case3 .box-wrap {
  position: relative;
}
.d0116.case3 .naruto {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.d0116.case4 .naruto {
  position: relative;
  top: 50%;
  margin: 0 auto;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.d0116.case5 .box-wrap {
  text-align: center;
}
.d0116.case5 .box-wrap:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.d0116.case5 .box-wrap .naruto {
  display: inline-block;
  vertical-align: middle;
}
