---
---

.d0722 {
  .image-slider{
    // 外部容器定位
    position: relative;
    display: inline-block; // 上層的最大範圍不會超過image
    line-height: 0;
    & > div {
      // 內部上層影像容器
      position: absolute;
      top: 0; bottom: 0; left: 0;
      width: 25px;
      max-width: 100%;
      overflow: hidden;
      resize: horizontal; //使用者可以重新調整區塊大小    
      &:before {
        // 右下方提示可縮放的示意三角形
        content: '';
        position: absolute;
        right: 0; bottom: 0;
        width: 13px; height: 13px;
        padding: 5px;
        background: linear-gradient(-45deg, white 50%, transparent 0);
        background-clip: content-box;
        cursor: ew-resize;
        -webkit-filter: drop-shadow(0 0 2px black);
        filter: drop-shadow(0 0 2px black); 
        //使用filter 可以用圖示輪廓做陰影
      }
    }
    img {
      user-select: none; //圖片無法被選擇
      max-width: 600px;
    }
  }
}
