html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html, body, input, button, select, textarea, a {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  font-size: 15px;
  line-height: 30px;
  color: #3a3a3a;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  margin-bottom: 1em;
}
h1.subheader, h2.subheader, h3.subheader, h4.subheader, h5.subheader, h6.subheader {
  color: #666666;
}
h1.title, h2.title, h3.title, h4.title, h5.title, h6.title {
  margin: 0;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  color: #666666;
  font-size: 80%;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 0.93333em;
}

h6 {
  font-size: 0.93333em;
}

p {
  margin: 0 0 30px 0;
}

strong, b {
  font-weight: bolder;
}

em, i {
  font-style: italic;
  line-height: inherit;
}

a {
  color: #00a0e9;
  text-decoration: none;
}
a:hover {
  color: #006b9d;
}

sub, sup {
  font-size: smaller;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

u {
  text-decoration: underline;
}

.container {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

.navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  background: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 3px 3px;
  z-index: 3;
}
.navigation h1 {
  margin: 0;
}
@media (max-width: 639px) {
  .navigation h1 {
    margin-top: auto;
    font-size: 24px;
  }
  .navigation .main-menu a {
    padding: 0.5em;
  }
}
@media (max-width: 320px) {
  .navigation h1 {
    display: none;
  }
}
.navigation.small h1 {
  font-size: 24px;
  margin-top: auto;
}
.navigation.small .main-menu a {
  padding: 0.5em;
}

.logo {
  float: left;
  color: white;
}

.main-menu {
  float: right;
}
.main-menu a {
  float: left;
  display: block;
  padding: 1em;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
  border-right: #ece8e5 solid 1px;
}
.main-menu a:first-child {
  border-left: #ece8e5 solid 1px;
}
.main-menu a:hover, .main-menu a.current {
  background: white;
  -webkit-box-shadow: #00bcff 0 0.5em 0 inset, rgba(0, 0, 0, 0.1) 0 0.5em 5px inset;
  -moz-box-shadow: #00bcff 0 0.5em 0 inset, rgba(0, 0, 0, 0.1) 0 0.5em 5px inset;
  box-shadow: #00bcff 0 0.5em 0 inset, rgba(0, 0, 0, 0.1) 0 0.5em 5px inset;
}

.header {
  background: #00bcff;
  min-height: 150px;
  padding-top: 60px;
  -webkit-box-shadow: #0084b3 0 0 5px inset;
  -moz-box-shadow: #0084b3 0 0 5px inset;
  box-shadow: #0084b3 0 0 5px inset;
}

.footer {
  margin-top: 1.5em;
  background: #777777;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 5px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 5px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 5px inset;
}
.footer .container {
  padding: 1em;
}
