
.article-inner {
  @include font-size(1.25rem);
  line-height: 1.75;
  img {
    display: block;
    max-width: 100%;
  }

  .caption {
    &::before {
      content: "— ";
    }
    margin-top: -1rem;
    margin-bottom: 1rem;
    @include font-size(1rem);
    color: $gray-600;
  }
}