
.article-inner {
  @include font-size(1.25rem);
  line-height: 1.75;
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  h2, h3, h4, h5, h6 {
    margin-top: 2rem;
  }

  @include media-breakpoint-down(md) {
    table {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

  p {
    margin-bottom: 1.5rem;
    word-wrap: break-word;
  }

  .caption {
    &::before {
      content: "— ";
    }
    margin-top: -1rem;
    margin-bottom: 1rem;
    @include font-size(1rem);
    color: $gray-600;
  }

  blockquote {
    margin-top: -1rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    color: $gray-700;
    &::before {
      content: "— ";
      color: $gray-400;
      float: left;
      margin-left: -1.5rem;
    }
  }
}