
.demo {
  padding: 10px;
  border: dashed 1px $orange;
  position: relative;
  &::before {
    content: "demo";
    position: absolute;
    right: 0;
    top: 0;
    background-color: $orange;
    color: white;
    font-size: .75rem;
    padding-left: 4px;
    padding-right: 4px;
  }
}